<section ng-controller="FriendsController as fCtrl" class="friends_class">
	<md-subheader class="pageHeader">
    	Contacts
    </md-subheader>
	<md-content resize ng-style="fullPageStyle()">
		<section layout="row" class="contactContainer">
			<md-list>
			<md-list-item class="frnd_List_class md-3-line" ng-repeat="item in friends" layout="row">
				<img ng-click="fn_View(item._id)"  ng-src="{{item.profilePicture}}" class="md-avatar"/>
		  		<span class="contactDetailText md-list-item-text" ng-click="fn_View(item._id)" >
			  		<h4><span class="contactName" ng-if="item.firstName" style="text-transform:capitalize;font-size:18px;font-weight: 700;">{{item.fullName}}</span></h4>
			  		<h3>{{item.username}}</h3>
			  		<p><span ng-if="item.designation" style="text-transform:capitalize">{{item.designation}}</span><span ng-if="item.designation&&item.companyName"> at </span><span ng-if="item.companyName" style="text-transform:capitalize">{{item.companyName}}</span></p>
		  		</span>
		  		<md-button class="md-icon-button contactChatButton" ng-click="fn_GoChat(item._id)"><md-tooltip> Chat </md-tooltip><img ng-src="assets/imgs/icons/Message.png"/></md-button>
		  		<md-button class="md-icon-button contactRemoveButton" ng-click="fn_RemoveFriend($event,item._id)"><md-tooltip>Remove</md-tooltip><i style="color:red;font-size:25px;" class="fa fa-times"></i>
		  		</md-button>
			</md-list-item>
			</md-list>
		</section>
	</md-content>
</section>