<section ng-controller="grpChatController as ctrl" class="grp_chat_cls">
    <div class="pageHeader" style="padding:7px!important;">
            <h3 style="text-transform: capitalize;font-size: 15px;"><span style="font-size: 25px;">{{name}}</span>(<span ng-repeat="item in circleUserName">{{item}},</span> {{creatorName}})</h3>  
            <p style="margin: 0px 58px 10px;"><md-button style="border:none;margin-left:2%" class="md-icon-button" ng-disabled="videoInProgress || adminStatus" aria-label="buttonVideoCall" ng-click="liveVideoCall()"><md-tooltip style="margin-left:2%">{{toolTip}}</md-tooltip><img ng-src="assets/imgs/icons/Video_Call.png"/></md-button>
            <md-button style="border:none;margin-left:2%" class="md-icon-button" ng-disabled="videoInProgress || adminStatus" aria-label="buttonVideoCall" ng-click="scheduleCall()"><md-tooltip style="margin-left:2%">Schedule Call</md-tooltip><i class="fa fa-calendar-o" 
            style="color: #03A9F4;font-size: 25px;"></i></md-button></p>
    </div>
    <div id="messageBox" class="chatMessageBox" ng-style="style()" resize>
        <div id="videoOuterDiv" ng-show="videoInProgress" class="videoDiv" style="width:100%;position:relative;height:300px !important; max-height:300px !important;padding-left: 10px;display: flex;">
                <div id="video_list" style="position:absolute;width:800px;"></div>
                <div id="main_videodiv" style="position:absolute;bottom:200px;right:0px;height:0%;z-index:10;">
                    <div id="calling" style="border-radius: 10px;border: 2px solid #357EBD;display: none;width: 250px;height: 50px;background-color: white;box-shadow: 5px 10px 10px #888888;">
                        <span><img ng-src="{{callerPic}}"  class="img-circle" style="max-width: 18%"></span>
                        <span class="blink_me" style="color: #357EBD;font-size: 15px;text-transform: capitalize;padding-left: 20px;">
                            Calling {{callName}}
                        </span>
                    <img id="end_call" src="assets/imgs/icons/End_Call.png" width="30" title="End Call" style="cursor:pointer" ng-click="endSingleCall()" />
                   </div>
                    <video id="main_video" autoplay class="thumbnail" style="cursor:pointer;border:3px solid #357ebd;border-radius:10px;height:150px;width:180px;display:none" poster="assets/imgs/novideo.png">
                    </video>
                    <div id="button_list" style="display:none">
                        <img id="exit_call" src="assets/imgs/icons/End_Call.png" width="30" title="End Call" style="position:absolute;left:12px;bottom: -130px;cursor:pointer" ng-click="disconnectCall()" />
                        <img id="unmute_call" src="assets/imgs/icons/Mic_Active.png" width="30" style="position:absolute;left:45px;bottom: -130px;cursor:pointer" title="Unmute" ng-click="unmuteCall()" />
                        <img id="mute_call" src="assets/imgs/icons/Mic_InActive.png" width="30" style="position:absolute;left:45px;bottom: -130px;cursor:pointer" title="Mute" ng-click="muteCall()" />
                        <img id="show_video" src="assets/imgs/icons/Video_Active.png" width="30" style="position:absolute;left:78px;bottom: -130px;cursor:pointer" title="Show Video" ng-click="showVideo()" />
                        <img id="remove_video" src="assets/imgs/icons/Video_InActive.png" width="30" style="position:absolute;left:78px;bottom: -130px;cursor:pointer" title="Remove Video" ng-click="hideVideo()" />
                        <img id="add_participant" src="assets/imgs/icons/More_Options.png" width="30" style="position:absolute;left:112px;bottom: -130px;cursor:pointer" title="Add New Person" ng-click="addnewParticipant()" />
                    </div>
                   <!--  <span style="text-transform: capitalize;font-weight: bold;font-size: 15px;position:relative;top:-160px;left:11px;z-index:1;" >{{currentUser}}</span> -->
                </div>
        </div>
        <div id="messageBoxList" class="chatMessageBoxList" ng-style="messageListStyle" scroll-bottom="count">
            <div layout="column" ng-repeat="item in messages track by $index">
                <md-subheader layout="column" layout-align="center" class="chatDayDividerOuter">    
                    <hr role="seperator" class="dayDividerLine" aria-hidden="true"/>
                    <div class="chatDayDivider">
                        {{item.dayDividerText}}
                    </div>
                </md-subheader> 
                <div style="width:100%;">
                    <div ng-repeat="msg in item.msgs">
                        <div ng-if="user(msg)" layout="row" class="msgByUser">
                            <div class="msgByUserDetails" align="center">
                                <img ng-src="{{img}}" ng-if="msg.show" class="img-circle img-responsive"/>
                                <div ng-if="msg.show" style="height:25px">{{msg.date|date:'hh:mm a'}}</div>
                            </div>
                            <div class="msgByUserMessage">
                                <div ng-if="msg.show" ng-click="fn-ViewProf(msg.senderName)" style="font-weight:700;font-size:18px;margin-top:19px;"> {{msg.senderName}}</div>
                                <div class="chatMessageText" ng-bind-html="msg.message | embed"></div>
                            </div>
                        </div>
                        <div ng-if="otrUser(msg)" layout="row" class="msgToUser">
                            <div class="msgToUserMessage">
                                <div ng-if="msg.show" ng-click="fn-ViewProf(item.senderName)" style="font-size:18px;font-weight:700;margin-top:19px;">{{msg.senderName}}</div>
                                <div class="chatMessageText" ng-bind-html="msg.message | embed"></div>
                            </div>
                            <div class="msgToUserDetails" align="center">
                                <img ng-if="msg.show" ng-src="{{img1}}" style="height:45px;margin-left:18%;" class="img-circle img-responsive"/>
                                <div ng-if="msg.show" style="height:25px">{{msg.date| date:'hh:mm a'}}</div>
                            </div>
                        </div>  
                    </div>
                </div>           
            </div>
        </div>
    </div>
    </div>
    <div class="smileySelectDiv" ng-style="smileyDivStyle">
        <md-toolbar class="emo_header"><span class="emo_header_text">Emoticons</span></md-toolbar>
        <md-content>
            <section>
                <md-subheader class="emo_subHeader1">
                    <span class="emo_sub" ng-style="emoPeopleStyle" ng-click="emoPeople()"><i class="fa fa-smile-o"></i></span>
                    <span class="emo_sub" ng-style="emoAnimalsStyle" ng-click="emoAnimals()"><i class="fa fa-leaf"></i></span>
                    <span class="emo_sub" ng-style="emoToolsStyle" ng-click="emoTools()"><i class="fa fa-bell-o"></i></span>
                    <span class="emo_sub" ng-style="emoVehiclesStyle" ng-click="emoVehicles()"><i class="fa fa-taxi"></i></span>
                    <span class="emo_sub" ng-style="emoSymbolsStyle" ng-click="emoSymbols()">
                    <i class="fa fa-plus-square-o"></i></span>
                </md-subheader>
                <md-subheader ng-if="showEmoPeople" class="emo_subHeader">People</md-subheader>
                <md-subheader ng-if="showEmoAnimals" class="emo_subHeader">Habitat</md-subheader>
                <md-subheader ng-if="showEmoTools" class="emo_subHeader">Celebration, Tools & Food</md-subheader>
                <md-subheader ng-if="showEmoVehicles" class="emo_subHeader">Vehicles & Places</md-subheader>
                <md-subheader ng-if="showEmoSymbols" class="emo_subHeader">Symbols</md-subheader>
                <div class="list" mb-scrollbar="scrollbar('vertical', true)" style="height:210px;overflow:hidden">
                <div ng-if="showEmoPeople" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesPeople" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                <div ng-if="showEmoAnimals" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesAnimals" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                <div ng-if="showEmoTools" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesTools" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                <div ng-if="showEmoVehicles" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesVehicles" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                <div ng-if="showEmoSymbols" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesSymbols" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                </div>
            </section>
        </md-content>
    </div>
    <footer class="chatFooter">
      <div class="input_container">
                <span  id="loader" style="padding-left: 350px;font-size: 20px;font-weight: 600;display:none;" 
                class="blink_me"> Loading............ </span>
        <md-fab-speed-dial md-open="false" md-direction="up" ng-class="md-fling"  class="fileUploadButton" >
                <md-fab-trigger >
                    <md-button class="md-icon-button" aria-label="message"  style="color:#c9c9c9;">
                          <img   ng-src="assets/imgs/icons/Attach_Link.png"/>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions style="padding-left: 100px;">
                    <button class="btn" id="file_up" style="background-color: #fff;">
                    <i class="fa fa-upload" style="font-size:20px;"></i> File Upload</button>
                </md-fab-actions>
        </md-fab-speed-dial>        
        <form method="POST"  enctype="multipart/form-data" name="fileUpload">
              <input type="file" class="custom-file-input"  id="upload-file" onchange="angular.element(this).scope().setFile(this)" style="display: none;"/>
        </form>
          <button class="smileyPopupButton" ng-click="openSmileyMenu()" style="">
                  <i class="fa fa-smile-o" style="font-size:30px;"></i>
          </button>
          <form ng-submit="fn_Send($event)" class="chatForm">
              <input id="cInput" class="chatInput" ng-model="messageText" autocorrect="off" autocomplete="off"/>
          </form>
      </div>
    </footer>
    <div class="modal fade" id="newparticipantList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
        data-backdrop="static" >
        <div class="modal-dialog" role="document">
         <div class="modal-content" style="width: 520px;;margin-left:25px">
                <div class="modal-header" style="border-bottom: 3px solid #357ebd;">
                    <h4 class="modal-title" id="myModalLabel"><label>Add Participants to Livecall</label></h4>
                </div>
                <div class="modal-body">
                      <span id="err_msg" style="display:none;"></span>
                    <div class="row">
                        <div class="col-md-6">
                            <md-list-item ng-if="got_online_contact_onadd"  ng-repeat="item in contactsOnline" class="contactList">
                                      <i class="fa fa-circle" style="color:green;font-size:12px;"></i>
                                      <p class="online_contacts" style="color: #000;" >{{item.fullName}}  <img  src="assets/imgs/icons/More_Options.png" width="18"  title="Add" 
                                      ng-click="addtoList(item._id,item.fullName)" /></p>
                            </md-list-item>
                            <md-list-item ng-hide="got_online_contact_onadd">
                                No online contacts 
                            </md-list-item>
                       </div>
                       <div class="col-md-6">
                              <md-list-item ng-if="got_online_contact_onadd"  ng-repeat="item in newparticipants2" class="contactList" ng-class="{selected: selection.selectedNode == item._id}" ng-cloak>
                                      <i class="fa fa-circle" style="color:green;font-size:12px;"></i>
                                      <p class="online_contacts" style="color: #000;" >{{item.name}} <img  src="assets/imgs/icons/End_Call.png" width="18"  title="Remove" 
                                      ng-click="removefromList(item._id)" /></p>
                              </md-list-item>
                       </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: 3px solid #357ebd;">
                   <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                   <md-button class="md-primary md-raised" ng-click="addtoConf()"  id="upld" aria-label="SaveChanges" >Call</md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="scheduleCall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
         <div class="modal-content" style="width: 520px;;margin-left:25px">
                <div class="modal-header" style="border-bottom: 3px solid #fff;">
                    <h4 class="modal-title" id="myModalLabel"><label>Schedule Conference</label></h4>
                </div>
                <div class="modal-body">
                        <md-input-container style="width:50%;padding:10px 10px">
                            <label>Date</label> 
                            <input ng-model="confdate"  type="date"  /> 
                        </md-input-container> 
                        <md-input-container style="width:50%;padding:10px 10px">
                            <label>Time</label> 
                           <input ng-model="confTime"  type="time"  /> 
                        </md-input-container> 
                </div>
                <div class="modal-footer" style="border-top: 3px solid #fff;">
                   <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                   <md-button class="md-primary md-raised" ng-click="submitSchedule()"  id="upld" aria-label="SaveChanges" >Schedule</md-button>
                </div>
            </div>
        </div>
    </div>
      <div class="modal fade" id="fileDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">File Details</h4>
            </div>
            <div class="modal-body">
                <md-input-container>
                    <label style="color:#000000">File Name :{{flname}}</label>
                </md-input-container>
                <md-input-container>
                    <label style="color:#000000">Circle Name:{{circleName}}</label>
                </md-input-container>
                <md-input-container style="width:80%;">
                    <label>Add Comments</label>
                    <input ng-model="commentText" aria-label="Power">
                </md-input-container>
                <div style="display:none;margin-top:10px;" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: 3px solid #3F51B5;">
                <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                <md-button class="md-primary md-raised" ng-click="uploadFile()" id="upld" aria-label="SaveChanges">Send File</md-button>
            </div>
        </div>
    </div>
  </div> 
  <div class="modal fade" id="removeFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
         <div class="modal-content" style="width: 520px;;margin-left:25px">
                <div class="modal-header" style="border-bottom: 3px solid #fff;">
                    <h4 class="modal-title" id="myModalLabel"><label>Remove File</label></h4>
                </div>
                <div class="modal-body">
                      <span id="flid" style="display: none"></span>  
                      <p><b>Do you want to delete this file?</b></p>
                </div>
                <div class="modal-footer" style="border-top: 3px solid #fff;">
                   <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                   <md-button class="md-primary md-raised" ng-click="removeFile()"  id="upld" aria-label="SaveChanges" >Remove</md-button>
                </div>
            </div>
        </div>
    </div>

     <script type="text/javascript">
    function fn_removeFile(id){
        document.getElementById("flid").innerHTML = id;
        $('#removeFile').modal('show');
    }
    $(document).ready(function(){
        $("#file_up").click(function(){
            $("#upload-file").click();
        });
        $("#video_up").click(function(){
            $('#videoMessage').modal('show');
        });
    });
  </script>
 </section>