 <section ng-controller="CreateCircleController as cCtrl" class="circle_class">
  <div style="padding:0px 25px;;min-height:100px;display:flex;justify-content:flex-start;position:relative">
        <form class="conferenceSearchForm">
                <div class="row">
                        <div class="col-md-6" style="width: 200px;">
                          <h5><b>Friends List</b></h5>
                            <md-list-item ng-if="got_contacts"  ng-repeat="item in contacts" >
                                    <div ng-if="item.status == 'online' "  style=" display: flex;align-items: baseline;">
                                      <i class="fa fa-circle" style="color:green;font-size:12px;"></i>
                                      <p class="online_contacts" style="color: #000;" >{{item.fullName}}  <img  src="assets/imgs/icons/More_Options.png" width="18"  title="Add" 
                                      ng-click="addtoSelected(item._id,item.fullName)" /></p>
                                    </div>
                                    <div ng-if="item.status == 'offline' "  style=" display: flex;align-items: baseline;" >
                                     <i class="fa fa-circle" style="color:#949494;font-size:12px;"></i>
                                      <p class="online_contacts" style="color: #000;" >{{item.fullName}}  <img  src="assets/imgs/icons/More_Options.png" width="18"  title="Add" 
                                      ng-click="addtoSelected(item._id,item.fullName)" /></p>  
                                    </div>  
                            </md-list-item>
                            <md-list-item ng-hide="got_contacts">
                                No  contacts 
                            </md-list-item>
                       </div>
                       <div class="col-md-6" style="width: 200px;">
                            <span ng-show="selectedList.length > 0">
                                  <h5><b>Selected</b></h5>
                            </span> 
                            <md-list-item ng-if="got_contacts"  ng-repeat="item in selectedList" class="contactList">
                                    <i class="fa fa-circle" style="color:red;font-size:12px;"></i>
                                    <p class="online_contacts" style="color: #000;" >{{item.name}} <img  src="assets/imgs/icons/End_Call.png" width="18"  title="Remove" 
                                    ng-click="removefromSelected(item._id)" /></p>
                            </md-list-item>
                       </div>
                </div>
                <md-input-container style="width:50%;padding:15px 10px">
                    <label>Conference Name</label>
                    <input ng-model="confrenceName" style="width:300px;" autocomplete="off" id="confname"> 
                </md-input-container>
                <md-button class="md-raised"  style="color: rgb(255, 255, 255);background-color:#357ebd;font-weight: 800;" ng-click="fn_save($event)">Submit</md-button>
        </form>
  </div>
 </section>
