<section ng-controller="CirclesController as cCtrl">
    <md-subheader  style="color:#357ebd;font-weight:600;font-size:30px;padding:25px 250px">
        Conference Rooms
    </md-subheader>
    <md-content resize ng-style="fullPageStyle()" style="overflow-y:auto"> 
        <section layout="row" class="contactContainer">
            <md-subheader class="subheaderStyle">
            Created by you
            <md-button ng-click="fn_Create()" class="md-primary" style ="background-color: #357ebd;font-weight: 700px !important;top:0px;left: 550px;z-index: 9;color: #fff !important;">Create New</md-button>
            </md-subheader>
         	<md-list class="ownRoomsContentList">
				<md-list-item class="md-3-line ownRoomsContentListData" ng-repeat="item in urItems" ng-click="fn_View(item._id)">
					<span class="md-list-item-text md-raised">
						<h3> {{item.circleName}} </h3>
						<p> {{item.members.length+1}} members </p>
		  			</span>
		  			<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
        </section>
        <section layout="row" class="contactContainer">
            <md-subheader class="subheaderStyle">
          	 Others
            </md-subheader>
            <md-list class="otrRoomsContentList">
				<md-list-item class="md-3-line otrRoomsContentListData" ng-repeat="item in otrItems" ng-click="fn_View(item._id)">
					<span class="md-list-item-text md-raised">
						<h3> {{item.circleName}} </h3>
						<p> {{item.members.length+1}} members</p>
		  			</span>
		  			<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
        </section>
    </md-content>    
</section>
