<section ng-controller="ViewCirclesController" class="view_circle_class" ng-cloak>
	<md-subheader class="pageHeader">
    	{{circleName}}
    </md-subheader>
    <md-content class="viewCircleContent">
    	<section class="viewCircleContentSection">
			<md-toolbar class="viewCircleToolbar" layout="row"flex>
				<span>Members</span>
				<md-button aria-label="groupchat" class="md-icon-button grpChatButton" style="right:95px;" ng-click="fn_GrpChat()"><img ng-src="assets/imgs/icons/Video_Call.png" style="height: 22px;" /></md-button>
				<md-button aria-label="groupchat" class="md-icon-button grpChatButton" ng-click="fn_GrpChat()"><img ng-src="assets/imgs/icons/Message.png"/></md-button>
				<md-button aria-label="deletegroup" class="md-icon-button deleteGroupButton" ng-if="admin" ng-click="fn_Delete($event)"><i class="fa fa-times"></i></md-button>
				<md-button aria-label="leavegroup" class="md-icon-button leaveGroupButton" ng-if="!admin" ng-click="fn_Leave($event)"><i class="fa fa-times"></i></md-button>
			</md-toolbar>
			<div layout="row" style="padding:0px 10px;position:relative">
				<md-input-container style="width:50%;padding:0px 10px">
					<label style="font-size: 20px;"><i class="fa fa-search"></i>Search Members</label>
					<input type="text" ng-model="adUserText" ng-change="fn_searchMembers()"/>
				</md-input-container>
				<md-input-container ng-if="admin" style="width:50%;padding:0px 10px">
					<label style="text-align:left;font-size: 20px;">Type here to add more users</label>
					<input type="text" id="addMemberText" ng-model="addUserText" ng-change="fn_findUser(addUserText)"/>
				</md-input-container>
				<div class="newUserSearchResults" ng-if="showResults" resize ng-style="viewCirclePageStyle()">
					<md-button aria-label="closesearch" class="md-icon-button closeSearchButton" ng-click="fn_closeSearch()"><i class="fa fa-times"></i></md-button>
					<div class="newUserSearchResultsInner">
						<div ng-if="!searchResult.length" style="padding:10px;font-weight:600">
							No Results
						</div>
						<div ng-repeat="itemRes in searchResult">
							<md-checkbox ng-click="fn_toggle(itemRes, selected, searchResult)">
								<md-list>
									<md-list-item class="md-2-line">
										<img class="md-avatar" ng-src="{{itemRes.profilePicture}}"/>
										<span class="md-list-item-text">
											<h4>{{itemRes.username}}</h4>
											<p>{{itemRes.fullName}}</p>
										</span>
									</md-list-item>
								</md-list>
							</md-checkbox>
						</div>
						<div ng-if="selected.length" style="padding-left:10px;font-weight:600">
							Selected :
						</div>
						<div ng-repeat="itemSel in selected">
							<md-checkbox ng-checked="true" ng-click="fn_toggle(itemSel, selected, searchResult)">
								<md-list>
									<md-list-item class="md-2-line">
										<img class="md-avatar" ng-src="{{itemSel.profilePicture}}"/>
										<span class="md-list-item-text">
											<h4>{{itemSel.username}}</h4>
											<p>{{itemSel.fullName}}</p>
										</span>
									</md-list-item>
								</md-list>
							</md-checkbox>
						</div>
					</div>
					<div style="height:50px;">
						<md-button aria-label="addtogroup" ng-click="fn_AddToGroup($event)" class="addToGroupButton">Add to Group</md-button>
					</div>
				</div>
			</div>
			<md-list resize class="viewCircleContentList" ng-style="viewCirclePageStyle()">
				<md-list-item class="md-3-line grpAdminDetails">
					<img ng-src="{{creator.profilePicture}}" class="md-avatar"/>
		  			<span class="md-list-item-text" ng-click="fn_View(item._id)">
						<h3> {{creator.username}} (Admin)</h3>
						<h4 style="text-transform:capitalize"> {{creator.fullName}} </h4>
						<p style="color: rgba(0, 0, 0, 0.54);"> {{creator.email}}</p>
		  			</span>
		  			<md-divider></md-divider>
				</md-list-item>
				<md-list-item class="md-3-line grpMemberDetails" ng-repeat="item in memItems">
					<img ng-src="{{item.profilePicture}}" class="md-avatar"/>
					<span class="md-list-item-text" ng-click="fn_View(item._id)">
						<h3> {{item.username}} </h3>
						<h4 style="text-transform:capitalize"> {{item.fullName}} </h4>
						<p> {{item.email}}</p>
					</span>
					<md-button aria-label="removemember" ng-show="admin" class="md-icon-button RemoveGrpMemberButton" ng-click="fn_RemoveMember($event,item._id)"><i class="fa fa-times"></i></md-button>		
					<md-divider ng-if="!$last"></md-divider>  
				</md-list-item>
			</md-list>
		</section>
    </md-content>
</section>