<section ng-controller="chatController as ctrl" class="chat_cls">
    <div class="chatHeader">
        <md-list>
            <md-list-item class="md-3-line">
                <img ng-src="{{img1}}" alt="pic" style="width:66px;" class="img-responsive img-circle"/>
                <span class="md-list-item-text" style="padding:0px;padding-left:10px">
                    <h3 style="text-transform:capitalize;padding:0px;padding-left:20px"><b> {{usr.fullName}}</b></h3>
                    <h4>
                        <span ng-if="usr.designation" style="padding:0px;padding-left:20px;text-transform:capitalize">{{usr.designation}}</span> <span ng-if="usr.designation && usr.companyName">at</span> <span ng-if="usr.companyName" style="text-transform:capitalize">{{usr.companyName}}</span>
                    </h4>
                    <p><!-- md-button class="md-icon-button" ng-click="" aria-label="buttonVoiceCall"><img ng-src="assets/imgs/icons/Voice_Call.png"/></md-button> --><md-button style="border:none;" class="md-icon-button" ng-disabled="videoInProgress" aria-label="buttonVideoCall" ng-click="startVideoCall()"><img ng-src="assets/imgs/icons/Video_Call.png"/></md-button></p>
                </span>
            </md-list-item>
        </md-list>
    </div>
    <div id="messageBox" class="chatMessageBox" ng-style="style()" resize>
        <div id="videoOuterDiv" ng-show="videoInProgress" class="videoDiv" style="width:100%;position:relative;height:300px !important; max-height:300px !important;justify-content:center;display: flex;">
            <div id="videoBig" style="width:700px;max-width:700px;display:flex;justify-content:center;position:relative;border:1px solid #357ebd;border-radius:10px;">
                <video id="videoOutput" ng-model="vOutput" autoplay style="margin 0px auto;z-index:9"  height='298px' 
                 width="100%" poster="assets/imgs/novideo.png"></video>
                <div id="videoSmall" style="display:inline-block">
                    <video id="videoInput" ng-model="vInput" style="position:absolute;bottom:0px;right:0px;height:35%;z-index:10;border:3px solid #357ebd;border-radius:10px;" autoplay poster="assets/imgs/novideo.png">
                    </video>
                </div>
                <div ng-hide="IsHiddenshowVideo"><md-button class="md-icon-button" aria-label="showVideo" ng-click="showVideo()" style="position:absolute;left:230px;;bottom:0px;z-index:10;"><img ng-src="assets/imgs/icons/Video_Active.png" class="img-circle"/></md-button></div>
                <div ng-hide="IsHiddenhideVideo"><md-button class="md-icon-button" aria-label="hideVideo" ng-click="hideVideo()" style="position:absolute;left:230px;;bottom:0px;z-index:10;"><img ng-src="assets/imgs/icons/Video_InActive.png" class="img-circle"/></md-button></div>

                <div ng-hide="IsHiddenmute"><md-button class="md-icon-button" aria-label="unmuteVCall" ng-click="unmute()" style="position:absolute;left:290px;bottom:0px;z-index:10;"><img ng-src="assets/imgs/icons/Mic_Active.png" class="img-circle"/></md-button></div>
                <div ng-hide="IsHiddenunmute"><md-button class="md-icon-button" aria-label="muteVCall" ng-click="mute()" style="position:absolute;left:290px;bottom:0px;z-index:10;"><img ng-src="assets/imgs/icons/Mic_InActive.png" class="img-circle"/></md-button></div>
                <md-button class="md-icon-button" aria-label="closeVCall" ng-click="stop()" style="position:absolute;left:350px;bottom:0px;z-index:10;"><img ng-src="assets/imgs/icons/End_Call.png" class="img-circle"/></md-button>
            </div>
        </div>
        <div id="messageBoxList" class="chatMessageBoxList" ng-style="messageListStyle" scroll-bottom="count">
            <div layout="column" ng-repeat="item in messages track by $index">
                <md-subheader layout="column" layout-align="center" class="chatDayDividerOuter">    
                    <hr role="seperator" class="dayDividerLine" aria-hidden="true"/>
                    <div class="chatDayDivider">
                        {{item.dayDividerText}}
                    </div>
                </md-subheader> 
                <div style="width:100%;">
                    <div ng-repeat="msg in item.msgs">
                        <div ng-if="user(msg)" layout="row" class="msgByUser">
                            <div class="msgByUserDetails" align="center">
                                <img ng-src="{{img}}" ng-if="msg.show" class="img-circle img-responsive"/>
                                <div ng-if="msg.show" style="height:25px">{{msg.date|date:'hh:mm a'}}</div>
                            </div>
                            <div class="msgByUserMessage">
                                <div ng-if="msg.show" ng-click="fn-ViewProf(msg.senderName)" style="font-weight:700;font-size:18px;margin-top:19px;"> {{msg.senderName}}</div>
                                <div class="chatMessageText" ng-bind-html="msg.message | embed"></div>
                            </div>
                        </div>
                        <div ng-if="otrUser(msg)" layout="row" class="msgToUser">
                            <div class="msgToUserMessage">
                                <div ng-if="msg.show" ng-click="fn-ViewProf(item.senderName)" style="font-size:18px;font-weight:700;margin-top:19px;">{{msg.senderName}}</div>
                                <div class="chatMessageText" ng-bind-html="msg.message | embed"></div>
                            </div>
                            <div class="msgToUserDetails" align="center">
                                <img ng-if="msg.show" ng-src="{{img1}}" style="height:45px;margin-left:18%;" class="img-circle img-responsive"/>
                                <div ng-if="msg.show" style="height:25px">{{msg.date| date:'hh:mm a'}}</div>
                            </div>
                        </div>  
                    </div>
                </div>           
            </div>
        </div>
    </div>
    </div>
    <div class="smileySelectDiv" ng-style="smileyDivStyle">
        <md-toolbar class="emo_header"><span class="emo_header_text">Emoticons</span></md-toolbar>
        <md-content>
            <section>
                <md-subheader class="emo_subHeader1">
                    <span class="emo_sub" ng-style="emoPeopleStyle" ng-click="emoPeople()"><i class="fa fa-smile-o"></i></span>
                    <span class="emo_sub" ng-style="emoAnimalsStyle" ng-click="emoAnimals()"><i class="fa fa-leaf"></i></span>
                    <span class="emo_sub" ng-style="emoToolsStyle" ng-click="emoTools()"><i class="fa fa-bell-o"></i></span>
                    <span class="emo_sub" ng-style="emoVehiclesStyle" ng-click="emoVehicles()"><i class="fa fa-taxi"></i></span>
                    <span class="emo_sub" ng-style="emoSymbolsStyle" ng-click="emoSymbols()">
                    <i class="fa fa-plus-square-o"></i></span>
                </md-subheader>
                <md-subheader ng-if="showEmoPeople" class="emo_subHeader">People</md-subheader>
                <md-subheader ng-if="showEmoAnimals" class="emo_subHeader">Habitat</md-subheader>
                <md-subheader ng-if="showEmoTools" class="emo_subHeader">Celebration, Tools & Food</md-subheader>
                <md-subheader ng-if="showEmoVehicles" class="emo_subHeader">Vehicles & Places</md-subheader>
                <md-subheader ng-if="showEmoSymbols" class="emo_subHeader">Symbols</md-subheader>
                <div class="list" mb-scrollbar="scrollbar('vertical', true)" style="height:210px;overflow:hidden">
                <div ng-if="showEmoPeople" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesPeople" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                <div ng-if="showEmoAnimals" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesAnimals" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                <div ng-if="showEmoTools" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesTools" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                <div ng-if="showEmoVehicles" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesVehicles" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                <div ng-if="showEmoSymbols" style="width:100%;height:100%;padding-left:10px;padding-bottom:20px;">
                    <span class="emo1_content" ng-repeat="item in smiliesSymbols" ng-click="addToText(item.title)"><i class={{item.class}} title={{item.title}}></i></span>
                </div>
                </div>
            </section>
        </md-content>
    </div>
    <footer class="chatFooter">
      <div class="input_container">
                <md-fab-speed-dial md-open="false" md-direction="up" ng-class="md-fling"  class="fileUploadButton" >
                        <md-fab-trigger >
                            <md-button class="md-icon-button" aria-label="message"  style="color:#c9c9c9;">
                                  <img   ng-src="assets/imgs/icons/Attach_Link.png"/>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions style="padding-left: 100px;">
                            <button class="btn" id="file_up" style="background-color: #fff;">
                            <i class="fa fa-upload" style="font-size:20px;"></i> File Upload</button>
                             <button class="btn" id="video_up" style="background-color: #fff;">
                             <i class="fa fa-video-camera" style="font-size:20px;"></i> Video Message</button>
                        </md-fab-actions>
                </md-fab-speed-dial>
        <form method="POST"  enctype="multipart/form-data" name="fileUpload">
              <input type="file" class="custom-file-input"  id="upload-file" onchange="angular.element(this).scope().setFile(this)" style="display: none;"/>
        </form>
          <button class="smileyPopupButton" ng-click="openSmileyMenu()" style="">
                  <i class="fa fa-smile-o" style="font-size:30px;"></i>
          </button>
          <form ng-submit="fn_Send($event)" class="chatForm">
              <input id="cInput" class="chatInput" ng-model="messageText" autocorrect="off" autocomplete="off"/>
          </form>
      </div>
    </footer>
  <div class="modal fade" id="fileDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">File Details</h4>
            </div>
            <div class="modal-body">
                <md-input-container>
                    <label style="color:#000000">File Name :{{flname}}</label>
                </md-input-container>
                <md-input-container>
                    <label style="color:#000000">Shared in :{{usrName}}</label>
                </md-input-container>
                <md-input-container>
                    <label style="color:#000000">Mail ID :{{mailID}}</label>
                </md-input-container>
                <md-input-container style="width:80%;">
                    <label>Add Comments</label>
                    <input ng-model="commentText" aria-label="Power">
                </md-input-container>
                <div style="display:none;margin-top:10px;" class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: 3px solid #3F51B5;">
                <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                <md-button class="md-primary md-raised" ng-click="uploadFile()" id="upld" aria-label="SaveChanges">Send File</md-button>
            </div>
        </div>
    </div>
  </div>
 
  <div class="modal fade" id="videoMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                    <h4 class="modal-title" id="myModalLabel">Video Message</h4>
                  </div>
                 <div class="modal-body">
                    <p>
                        <video id="camera-preview" style="border: 2px solid rgb(63, 81, 181); width: 96%;"></video>
                    </p>
                   <div align="center"> 
                        <md-button class="md-primary md-raised" ng-click="startRec()"  id="start-recording" aria-label="SaveChanges">Start</md-button>
                        <md-button class="md-warn md-raised" ng-click="stopRec()" id="stop-recording" aria-label="SaveChanges" >Stop</md-button>
                    </div> 
                 </div> 
                <div class="modal-footer" style="border-top: 3px solid #3F51B5;">
                <md-button class="md-raised"  ng-click="closeRec()" id="close-video">Close</md-button>
                 <md-button class="md-primary md-raised" ng-click="sendRec(flName)"  id="send-video" aria-label="SaveChanges">Send</md-button>
                 </div>
            </div>
        </div>
  </div>   
  <script type="text/javascript">
      $(document).ready(function(){
        $("#file_up").click(function(){
            $("#upload-file").click();
        });
        $("#video_up").click(function(){
            $('#videoMessage').modal('show');
        });
      });
  </script>
 </section>