<md-dialog aria-label="Search">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Search Results</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-list>
      <md-list-item ng-repeat="item in items" ng-click="fn_View(item._id)"><span class="glyphicon glyphicon-user"> {{item.fullName}}        </a></span></md-list-item>
    </md-list>
  </md-dialog-content>
</md-dialog>