<section ng-controller="HeaderController as ctrl">
 <header class="md-page-header">
      <form class="searchForm">
        <md-input-container style="padding:0px 0px 0px 0px;">
          <label style="padding-left:7px;top:2px"> <i class="fa fa-search"></i> Search</label>
          <input ng-change="ctrl.srch(key)" ng-keyup="fn_Toggle($event)" ng-model="key" autocomplete="off" id="search"/>
        </md-input-container>
        <md-list class="srchResults" ng-style="style" ng-init="select = { selectedNode:  null }">
          <md-list-item ng-hide="reslts">
            No result for "{{key}}"
          </md-list-item>
          <md-list-item class="md-2-line" ng-class="{selct: select.selectedNode == item}" ng-repeat="item in results" ng-click="ctrl.viewP(item.id)">
            <img ng-src="{{item.img}}"class="md-avatar"/>
            <span class="md-list-item-text">
              <h3>{{item.fullName}}</h3>
              <p>{{item.username}}</p>
          </md-list-item>
          <md-divider ng-if="!$last"></md-divider>
        <md-list-item ng-click="fn_advanceSearch()">Advance Search</md-list-item>
        </md-list>
      </form>
        <!-- <md-button class="md-fab md-primary md-raised" aria-label="home" ng-href="#!/"><span><i class="fa fa-home"> </i> </span></md-button>
        <md-button class="md-fab md-primary md-raised" aria-label="fileshare" ng-href="#!/fileshare"><i class="fa fa-share-alt"> </i><span> </span></md-button> -->
    </span>
 </header>
</section>