<section ng-controller="viewProfController" class="viewProf_class">
	<div class="viewProfHeader" layout="row">
		<div style="position:relative;height:100px;width:100px;margin-bottom:20px;">
			<div ng-if="check" ng-click="fn_Add()" class="add-button" style="position:absolute !important;width:30%;height:30%;bottom:3px;right:0px;">
				<img class="img-responsive img-circle" ng-click="" ng-src="assets/imgs/icons/More_Options.png"/><md-tooltip>Add to Contacts</md-tooltip>
			</div>
			<img ng-src="{{usr.profilePicture}}" class="img-circle img-responsive"/>
		</div>
		<span style="padding-left:10px;" class="md-list-item-text" style="padding-top:">
			<h3 style="text-transform:capitalize;font-size:25px"><b> {{usr.fullName}}</b></h3>
			<span ng-if="usr.designation">{{usr.designation}}</span><span ng-if="usr.designation&&usr.companyName"> at </span><span ng-if="usr.companyName">{{usr.companyName}}</span>
		</span>
	</div>
	<md-divider></md-divider>
	<div style="padding-top:20px; padding-bottom: 10%">
	<div>
		<div ng-if="usr.aboutMe" layout="column" class="md-2-line">
			<span class="md-list-item-text profileData">
			<h3 class="color"> About me </h3>
			<div class="aboutMe"><span>{{usr.aboutMe}}</span></div>
			</span>
		</div>
		<md-divider ng-if="usr.aboutMe"></md-divider>
		<div ng-if="usr.education[0]" layout="column" class="md-2-line">
			<span class="md-list-item-text profileData">
			<h3 class="color"> Education </h3>
			<div class="education">
				<div class="educationViewDiv" ng-repeat="item in usr.education">
					<div layout="row" layout-align="space-between center">
						<span>{{item.course}}</span><span>{{item.period}}</span>
					</div>
					<div>
						<span>{{item.university}}</span>
					</div>
				</div>
			</div>
			</span>
		</div>
		<md-divider ng-if="usr.education[0]"></md-divider>
		<div ng-if="usr.experience[0]" layout="column" class="md-2-line">
			<span class="md-list-item-text profileData">
			<h3 class="color"> Work Experience </h3>
			<div class="wrkExp">
				<div class="experienceViewDiv" ng-repeat="item in usr.experience">
					<div layout="row" layout-align="space-between center">
						<span>{{item.designation}}</span><span>{{item.period}}</span>
					</div>
					<div>
						<span>{{item.company}}</span>
					</div>
				</div>
			</div>
			</span>
		</div>
		<md-divider ng-if="usr.experience[0]"></md-divider>
		<div ng-if="usr.projects[0]" layout="column" class="md-2-line">
			<span class="md-list-item-text profileData">
			<h3 class="color"> Projects </h3>
			<div class="projects">
				<div class="projectsViewDiv" ng-repeat="item in usr.projects">
					<span>{{item.project}}</span>
				</div>
			</div>
			</span>
		</div>
	</div>
	</div>
</section>