
/*--------Additional css by JIJO*/
.colorGreen{
  background:#15f076;
  padding:6px;
  padding-top:1px;
}
.colorBlue{
  background:#bfe702;
  padding:6px;
  padding-top:1px;
}
.colorYellow{
  background:#bfe702;
  padding:6px;
  padding-top:1px;
}

.profile-img-container {
  height: 130;
  width: 130px;
  position:relative;
}

.profile-img-container:hover img {
  opacity: 0.5;
}

.profile-img-container:not(:hover) .profile-img-i-container {
  display: none;
}

.profile-img-i-container {
  position: absolute;
  top: 40px;
  left: 40px;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 500;
  text-align:center;
}


div.upload {
  width: 157px;
  height: 57px;
  background: url(/assets/imgs/upload.png);
  overflow: hidden;
}

div.upload input {
  display: block !important;
  width: 157px !important;
  height: 57px !important;
  opacity: 0 !important;
  overflow: hidden !important;
}


span.text-content {
  color: #150202;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Ends Here*/

/*-----------------additional----------------------*/

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url('/assets/font/SourceSansPro-Regular.ttf');
} 

body{
  font-family: "SourceSansPro-Regular";
  overflow:hidden;
  height:100%;
  width : 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin : 0px;
}

md-sidenav{
height:100%;
width:inherit;
min-width: inherit;
max-width: inherit;
}

.sidebar_list {
  background-color:#bfe702;
  padding:0px;
  max-height:100%;
  font-size:18px;
}

.sidebar_list md-list-item{
  min-height: 35px;
  max-height: 35px;
  height :35px;
}

md-list-item, md-list-item .md-list-item-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: inherit;
    max-height: inherit;
}
.outer_div {
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  border-color: #fff;
  padding-bottom: 0px;
}
/*.container{
  width: 100%;
  padding: 0px;
}*/
section {
  padding:0px;
}
.sidebar_section_class {
  height : 100%;
  max-height: 100%;
  min-height: 100%;
  padding : 0px;
  box-sizing: border-box;
  /*position:fixed;*/
}
.sidebar_div{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    /*overflow-y: auto;*/
    padding: 0px;
    box-sizing: border-box;
}
.sidebar {
   height:100%;
   width:100%;
   min-width: 100%;
   background-color:#bfe702;
   box-sizing: border-box;
}
/*.sidebarnew {
   background-color:#642EFE !important;
}*/
.sidebar_header {
  background-color:#bfe702;
  color:#fff;
}
/*.sidebar_headernew {
 background-color:#642EFE !important;
}*/
.sidebar_header .sidebarHeaderImage{
  position: relative;
  border-radius: 50%;
  width:30%;
}
/*.sidebar_header .sidebarHeaderImage .sidebarStatus {
  position:absolute !important;
  bottom:5% !important;
  left: 55%;
  color:green !important;
}*/

.content_div {
  height:100%;
  min-height: 100%;
  max-height: 100%;
  padding: 0px;
  overflow: scroll;
  box-sizing: border-box;
  /*overflow-x : hidden;*/
}

/*.container {
  height : 100%;
  width: 100%;
  padding:0px;
  background-color: #fff;
}*/

.content_class{
  height:100%;
  box-sizing: border-box;
  /*margin-left:25px;*/
  /*max-height: 100%;*/
  /*overflow-y:scroll;*/
}

.selected {
  background-color: #fbc064;
  color: #b1783a;
}
/*.selected pre{
  color: #b1783a;
  background-color: inherit;
}*/
/*.selected:hover {
  background-color: #989898;
}*/

/*.md-toolbar-tools{
  position: relative;
  color: black;
  background-color: #eee;
}*/
    span.text-content {
   
      color: #150202;
      cursor: pointer;
      display: table;
      height: 150px;
      left: 0;
      position: absolute;
      top: 0;
      width: 150px;
  }

  span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

/*----Additional Scripts-------*/

.md-subheader .md-subheader-inner {
  padding: 0px;
}

/*.logo{
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}*/

/*.sidebar_class {
  width:100%;
  min-width: 100%;
  max-width: 100%
}*/

.auto_class{
  border-bottom: 1px solid #ccc;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white
}

.md-page-header {
  position: relative;
}

.search_form{
  width:300px;
}

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.searchForm {
    position: absolute;
    margin: 0 auto;
    width: 300px;
    right : 50px;
    z-index : 5;
}

.searchForm input {
    height: 36px;
    width: 100%;
    margin-left:0px;
    padding: 0 12px 0 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
}

.searchForm .srchResults {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 10;
    display: none;
    float: left;
    min-width: 300px;
    /*padding: 5px 0px;*/
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}
.searchForm input:focus + .srchResults { display: block }

.searchForm input:focus + .searchForm {width : 500px;}

.selct {
  background-color: #bfe702;
}
.searchForm input:focus {
    outline: none;
    border-color: #66b1ee;
}
.contact_divider,.cr_divider{
    color:#ccc;
    width:100%;
    padding : 5px !important;
    margin-top:20px;
    /*overflow:hidden;*/
    text-align:center;   
    line-height:1.2em;
}
.contact_divider a{
  color:#fff;
}
.cr_divider a{
  color: #fff;
}
/*.contact_divider:before, .contact_divider:after,.cr_divider:before, .cr_divider:after{
    content:"";
    vertical-align:top;
    display:inline-block;
    width:50%;
    height:0.65em;
    border-bottom:3px solid #fbc064;
}*/
.online_contacts, .conference_rooms{
  color : #fff;
  text-transform: capitalize;
  max-height: 70%;
}
.md-subheader{
  padding:0px;
}
.settings_Menu a {
  color: #bfe702;
}

.settings_Menu md-menu-item{
  min-height: 20px;
  height : 20px;
}

.frnd_List_class {
  margin-left: 50px;
  margin-right: 300px;
  margin-top:10px;
}

.frnd_List_class .md-button.md-icon-button{
  margin-top: 16px;
  margin-right: 25px;
}

.frnd_List_class .md-button {
  margin-top: 22px;
}

/*.md-list-item-text {
  display: inline-block;
  max-width: 95%;
  word-wrap: break-word;
  -moz-word-wrap: break-word;
}*/

/*------------------------------------------ChatStyle----------------------------------------*/

.chat_cls {
  height:100%;
  padding-bottom:100px;
  min-height: 100%;
  max-height: 100%;
  overflow:hidden;
}

.chatHeader {
  padding-top: 15px;
  padding-left:25px;
  width:100%;
  height:100px;
  max-height: 100px;
  min-height: 100px;
  z-index : 10;
}

.chatMessageBox {
  overflow-y:scroll;
  top: 100px;
  box-sizing: border-box;
}

.chatMessageBoxList{
  width : 100%;
  padding : 5px;
}

.chatDayDividerOuter{
  position:sticky;
  width:100%;
  top:0px;
  z-index:3;
  background: #FFF none repeat scroll 0% 0%;
}

.msgByUser {
  width:100%;
}

.msgByUserDetails {
  width:7%;
  color:#c9c9c9;
  text-align:center;
  font-size:15px;
}

.chatMessageText {
  background-color: inherit;
  padding:0px;
  border : 0px;
  font-size:16px !important;
  color:#434343 !important;
  word-wrap : break-word;
  font-family: "SourceSansPro-Regular";
}

.msgByUserMessage {
  width:93%;
  padding-left:30px;
}

.msgToUser {
  width:100%;
  overflow-x:hidden;
}

.msgToUserDetails {
  width:7%;
  color:#c9c9c9;
  text-align:center;
  font-size:15px;
}

.msgToUserMessage {
  width:93%;
  text-align:right;
  padding-right:30px;
}

.dayDividerLine {
  width:100%;
  position:absolute;
  border:1px solid #bfe702;
  top:10px;
  margin:0px;
  z-index : 3;
}

.chatDayDivider {
    position:relative;
    color:#bfe702;
    margin:0px auto;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size:20px;
    font-weight: 1000;
    background-color:#fff;
    background: #FFF none repeat scroll 0% 0%;
    display:inline-block;
    text-align:center;   
    line-height:1.2em;
    z-index :4;
    left : 47%;
}

.chatFooter {
  position:absolute;
  left:75px;
  right:25px;
  display:block;
  bottom:10px;
  /*padding-bottom: 10px;*/
  height:50px;
  z-index : 3;
  background: #FFF none repeat scroll 0% 0%;
}

.chatFooter .input_container {
  height:50px;
  position:absolute;
  left:0px;
  right:100px;
}

.chatFooter .input_container .fileUploadButton {
  height:50px;
  width:50px;
  right:-50px;
  position:absolute;
  padding:0px;
  border:2px solid #c9c9c9;
  border-radius:0px 7px 7px 0px;
}

.chatFooter .input_container .fileUploadButton:hover {
  background-color: #bfe702;
  border:2px solid #bfe702;
}

.chatFooter .input_container .chatForm {
  height:50px;
  position:absolute;
  padding:0px;
  width:100%;
}

.chatFooter .input_container .chatForm .chatInput {
  height:50px;
  position:absolute;
  width:100%;
  padding:0px;
  border-radius:7px 0px 0px 7px;
  font-size:20px;
  border:1px solid #c9c9c9;
}

/*-------------------------------Chatstyle ends here--------------------------------------*/

/*-------------------------------ProfileViewStyle----------------------------------------------*/

.add-button {
  position: absolute !important,
  bottom : 0px !important;
  right : 0px !important;
  /*z-index:3;*/
}

.profile_subHeader {
  text-align: left;
}

.color {
  color :#bfe702 !important;
  font-weight: 700 !important;
  font-size: 20px !important;
}

.footer {
  height : 10%;
  width : 100%;
  display : block;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
  position : absolute;
  bottom : 0px;
  color : #bfe702;
  font-size : 30px;
  background-color: #eee;
  text-align: center;
}

.profileData {
  padding-left: 25px !important;
}

.sidebarDividerLine {
  width:100%;
  position:absolute;
  border:1px solid #fff;
  top:12px;
  margin:0px;
  z-index : 3;
}

.sidebarDividerText{
  position: relative;
    color:#fff;
    margin:0px auto;
    padding: 0px 5px;
    box-sizing: border-box;
    font-size:20px;
    font-weight: 1000;
    background: #bfe702 none repeat scroll 0% 0%;
    display:inline-block;
    text-align:center;   
    line-height:1.2em;
    z-index :10;
}