  
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

/*---------------Login -------------------------------*/
.seperator { margin-bottom: 13em; }
.seperator2{ margin-bottom: 20em;}
footer {
    color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #fbb03b;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #fbb03b;
}

.bodystyle{
  background-image: url(/assets/imgs/Bkg_Wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.landingstyle{
  background-image: url(/assets/imgs/Bkg_Wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
#flash{
  font-family:Source Sans Pro;
  font-weight: bold;
  animation:flash 0.5s 1;
  -webkit-animation:flash 0.5s 1;
  animation-fill-mode: forwards;
  animation-delay:2s;
  -webkit-animation-delay:1s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;
}

input {
  margin: 40px 25px;
  width: 380px;
  display: block;
  border: none;
  padding: 7px 0;
  border-bottom: solid 1px #FBB03B;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #FBB03B 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FBB03B 4%);
  background-position: -380px 0;
  background-size: 380px 100%;
  background-repeat: no-repeat;
  color: #FBB03B;
}
input:focus, input:valid {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
}
input::-webkit-input-placeholder {
 font-family: Source Sans Pro;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
 color: #FBB03B;
 font-size: 15px;
 font-weight: bold;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}
.transp {
  width: 450px; 
  height: 300px; 
  padding: 10px;
  text-align: center; 
  background-color: rgba(39, 39, 39, 0.6);
}
#gif{
  background-color: rgba(39, 39, 39, 0.6);
}
.footerlogin {
  background:#fbb03b;  
  position: relative;
  margin-top: 115px; /* negative value of footer height */
  height: 183px;
  clear:both;
  padding-top:5px;
} 

/*-----------Login Style Ends Here-------------------------------*/


/*-----------Common Style-------------------------*/
ul{
 list-style-type: none;
}
.irisind:hover{
  text-decoration:underline;
}
.footer {
  background:#fbb03b;  
  position: relative;
  margin-top: 320px; /* negative value of footer height */
  height:200px;
  clear:both;
  padding-top:20px;
} 
.head-text{
  color:#b8740b;
  font-size:20px; 
  font-family:Source Sans Pro;
  font-weight: bold;
}
.copyright-text{
  color:#32393e;
  font-size:20px; 
  font-family:Source Sans Pro;
  font-weight: bold;
  text-decoration:none;
  text-align:center
} 
.copyright-text:hover {
  color: #32393e;
  text-decoration:none;
}
.link-text{
  color:#32393e;
  font-size:15px; 
  font-family:Source Sans Pro;
  font-weight: bold;
  text-decoration:none;
} 
.link-text:hover {
  color: #32393e;
  text-decoration:none;
}
.btnlanding{
  padding:7px 158px;
  line-height: 2;
  border-radius: 2px;
}
.btnlanding2:focus, 
.btnlanding2:active,
.btnlanding:hover{
  background-color:#fff;
  border-color:#fff
}
.btnlanding2{
  padding:7px 154px;
  line-height: 2;
  border-radius: 2px;
  background-color: #FBB039;
  border-color:#FBB039
}
.btnlanding2:focus, 
.btnlanding2:active, 
.btnlanding2:hover{
  background-color:#FBB039;
  border-color:#FBB039
}
.btn1{
  padding:1px 158px;
  line-height: 2;
  border-radius: 2px;
}
.btn2{
  padding:1px 150px;
  line-height: 2;
  border-radius: 2px;
  background-color: #FBB039;
  border-color:#FBB039;
}
.btn1:hover{
  background-color:#fff;
  border-color:#fff
}
.btn2:focus, 
.btn2:active, 
.btn2:hover{
  background-color:#FBB039;
  border-color:#FBB039;
}
.headertext{  
  color:#fbb03b;
  font-family:Source Sans Pro;
  font-size:30px;
}
.headertext1 {
  color:white;
  font-family:Source Sans Pro;
  font-size:35px;
}
.slogan{
  color:white;
  font-family:Source Sans Pro;
  font-size:30px;
  font-weight: bold;
}
.msg{
  color:white;
  font-family:Source Sans Pro;
  font-size:20px;
  font-weight: bold;
}
.label1 {
  display: block;
  padding: .2em .6em .3em;
  font-size: 50%;
  font-weight: 700;
  line-height: 0.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #f7931e !important;
  width: 415px;
}
.label-cross{
  display: block;
  padding: .2em .6em .3em;
  font-size: 100%;
  font-weight: 700;
  line-height: 0.5;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #f7931e !important;
  width: 100%;
  position: relative;
  top: 0;
 right: 0;
}

/*-----------Common Style Ends Here-------------------------*/

/*------Sign Up-----------*/
.slogansignup{
  color:#fbb03b;
  font-family:Source Sans Pro;
  font-size:45px;
  font-weight:bold;
}
.signupstyle{
  background-image: url(/assets/imgs/Bkg_Wallpaper_SignUp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/*---------------Sign Up Style Ends Here------------------------------*/