
/*--------Additional css by JIJO*/


/*-----------------------------------------------------   Blink Effect----------------------------------------*/
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}      

/*------------------------------------------------------------------------------------------------------------*/
@media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-sm; }
}
.subheaderStyle{
    color:#357ebd;
    font-weight:600;
    font-size:20px;
    padding:10px 25px;
}

.close-animatedModal {
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: 40px;
    padding-right: 50px;
}          
.closebt {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
}           
.round{
    border-radius: 30px;
    background: red;
    color : white;
    padding: 5px 10px;
}
.roundinMenu{
    border-radius: 20px;
    background: red;
    color : white;
    padding: 0px 7px;
}
.roundMessage{
    border-radius: 30px;
    background: green;
    color : black;
    padding: 2px 4px;
}
.file_List {
    position: relative;
    display: inline-block;
    margin: 10px;
    height:100px;
    border:1px solid #C9C9B8;
    padding: 5px;
    border-radius: 7px;
}

.file_List:hover {
    background-color: #eee;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.176);
}

@media only screen and (min-width: 960px) {
    .file_List {
        width: calc(33% - 20px);
        min-width: calc(33% - 20px);
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
    .file_List {
        width: calc(50% - 20px);
        min-width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 599px) {
    .file_List {
        width: calc(100% - 20px);
        min-width: calc(100% - 20px);
    }
}

.label1 {
    display: inline;
    padding: 0.5em 0.7em 0.7em;
    font-size: 99%;
    font-weight: 900;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.advnSearchForm {
    position: relative;
    margin: 0 auto;
    width: 300px;
    right : 50px;
    z-index : 999;
}

.advnSearchForm input {
    height: 40px;
    width: 80%;
    margin-left:0px;
    padding: 0 12px 0 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
}
.colorGreen{
    background:#15f076;
    padding:6px;
    padding-top:1px;
}
.colorBlue{
    background:#790ff3;
    padding:6px;
    padding-top:1px;
}
.colorYellow{
    background:#bfe702;
    padding:6px;
    padding-top:1px;
}
.cropArea {
    background:#FFFFFF;
    overflow:hidden;
    width:350px;
    height:350px;
}
.profile-img-container {
    height: 130;
    width: 130px;
    position:relative;
}
.profile-img-container:hover img {
    opacity: 0.5;
}
.profile-img-container:not(:hover) .profile-img-i-container {
    display: none;
}
.profile-img-i-container {
    position: absolute;
    top: 40px;
    left: 40px;
    display: block;
    height: 100%;
    width: 100%;
    z-index: 500;
    text-align:center;
}
div.upload {
    width: 157px;
    height: 57px;
    background: url(/assets/imgs/upload.png);
    overflow: hidden;
}
div.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
span.text-content {
    color: #150202;
    cursor: pointer;
    display: table;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Ends Here*/

/*-----------------additional----------------------*/
@font-face {
    font-family: "SourceSansPro-Regular";
    src: url('/assets/font/SourceSansPro-Regular.ttf');
} 

* {
    outline:0 !important;
}

html{
    font-family: "SourceSansPro-Regular" !important;
    overflow:hidden !important;
    height:100%;
    width : 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin : 0px;
    padding: 0px;
}

body{
    font-family: "SourceSansPro-Regular" !important;
    overflow:hidden !important;
    height:100%;
    width : 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin : 0px;
    padding: 0px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin:0px !important;
    font-family: "SourceSansPro-Regular" !important;
}

a,div,span,label {
    font-family: "SourceSansPro-Regular" !important;
}

input,textarea {
    color: #555860;
    font-family: "SourceSansPro-Regular" !important;
}

section {
    padding:0px;
    font-family: "SourceSansPro-Regular" !important;
}

.md-sticky-clone[sticky-state=active]:not(.md-sticky-no-effect) .md-subheader-inner {
    -webkit-animation: none !important;
    animation: none !important;
}

md-menu-item > .md-button {
    text-align: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.pageHeader {
    color:#357ebd;
    font-weight:600;
    font-size:30px;
    padding:35px !important;"
}

@media only screen and (max-width: 959px) {
    .pageHeader {
        padding-left: 85px !important;
        z-index: 3;
        margin:0px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.082);
    }
}

.outer_div {
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    border-color: #fff;
    padding-bottom: 0px;
    font-family: "SourceSansPro-Regular" !important;
}

.sidebar_section_class {
    height : 100%;
    max-height: 100%;
    min-height: 100%;
    padding : 0px;
    box-sizing: border-box;
}

.sidebar_div{
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 0px !important;
    box-sizing: border-box;
}

@media only screen and (min-width: 960px) {
    .chatFooter {
        left : 320px !important;
    }
}

.content_div {
    width : 100%;
    height:100%;
    min-height: 100%;
    max-height: 100%;
    padding: 0px !important;
    box-sizing: border-box;
    overflow : hidden;
}

.content_class{
    height:100%;
    box-sizing: border-box;
}

.md-subheader .md-subheader-inner {
    padding: 0px;
}

/*------------------------------------------headerStyle------------------------------------*/

.md-page-header {
    position: relative;
}

.search_form{
    width:300px;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.searchForm {
    position: fixed;
    margin: 0 auto;
    width: 300px;
    right : 50px;
    z-index : 999;
}

@media only screen and (max-width: 959px) {
    .searchForm {display: none;}
}    

.HeaderSearchButton {
    position:fixed;
    top: 10px;
    right:25px;
    border-radius: 50%;
    color: #357ebd;
    font-size: 18px;
    font-weight: 600;
    z-index: 999;
}

.HeaderSearchButton:hover {
    color: #357ebd;
    font-size: 30px;
    font-weight: 900;
    z-index: 999;
}

.searchForm input {
    height: 36px;
    width: 100%;
    margin-left:0px;
    padding: 0 12px 0 25px;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
}

.searchForm .srchResults {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 10;
    display: none;
    float: left;
    min-width: 300px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    opacity: 1;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    transition-duration: 200ms;
}

.selct {
    background-color: #357ebd;
}

.searchForm input:focus {
    outline: none;
    border-color: #357ebd !important;
}

.searchForm .md-input-focused label {
    color: #357ebd !important;
}

/*----------------------------------------------sidebar------------------------------------------*/

.sidebar {
    overflow: hidden;
    height:100%;
    min-height: 100%;
    width:240px !important;
    background-color:#357ebd;
    box-sizing: border-box;
    min-width:inherit!important;
    max-width:inherit !important;
    transition: 0.2s ease-in all !important;
}
.sideBarToggleButton {
    font-size:35px;
    height:80px !important;
    max-width:70px !important;
    min-width: 70px !important;
    padding:0px;
    margin :0px !important;
    color:#357ebd;
    top:10px;
    position:fixed;
    z-index: 59;
    background-color: #fff !important;
    border: none;
    outline: none;
}
.sidenavContent {
    overflow:hidden;
    background-color:#357ebd;
    height:100%
}
.sidebar_header {
    background-color:#357ebd;
    color:#fff;
    max-height:130px;
    padding-top: 15px;
}
.sidebar_header .sidebarHeaderImage{
    position: relative;
    width:70px;
}

.contact_divider,.cr_divider{
    color:#ccc;
    width:100%;
    padding : 5px !important;
    margin-top:20px;
    text-align:center;   
    line-height:1.2em;
}

.contact_divider a{
    color:#fff;
}

.cr_divider a{
    color: #fff;
}

.online_contacts, .conference_rooms{
    padding-left: 10px;
    line-height: 30px;
    color : #fff;
    text-transform: capitalize;
    max-height: inherit;
    min-height: inherit;
    height: inherit;
    vertical-align: middle;
}

md-sidenav.md-closed {
    display: flex;
}

.sidebar_list {
    background-color: #3b5998;
    overflow-y:auto;
}

.sidebar_list .contactList, .sidebar_list .circleList{
    min-height: 30px;
    max-height: 30px;
    height :30px;
}

.sidebar_list .contactList .md-button, .sidebar_list .circleList .md-button{
    padding: 0px;
    padding-left: 20px;
}

.sidebar_list .contactList .md-list-item-inner, .sidebar_list .circleList .md-list-item-inner,.sidebar_list .contactList .md-button, .sidebar_list .circleList .md-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: inherit;
    max-height: inherit;

}

.sidebar_list .contactList .md-list-item-inner, .sidebar_list .circleList .md-list-item-inner{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.md-subheader{
    padding:0px;
}

.settings_Menu a {
  
}

.settings_Menu md-menu-item{
    min-height: 20px;
    height : 20px;
    line-height: 20px;
}

.settings_Menu md-menu-item .md-button{
    border : 0px;
    color: #357ebd;
    border : 0px;
    min-height: 20px;
    height : 20px;
    line-height: 20px;
}

.sidebarDividerLine {
    width:100%;
    position:absolute;
    border:1px solid #fff;
    top:12px;
    margin:0px;
    z-index : 3;
    color : #fff;
}

.sidebarDividerText{
    position: relative;
    color:#fff;
    margin:0px auto;
    padding: 0px 5px;
    box-sizing: border-box;
    font-size:18px;
    font-weight: 100;
    background: none repeat scroll 0% 0%;
    display:inline-block;
    text-align:center;   
    line-height:1.2em;
    z-index :10;
}

.sidebarDividerText a{
    background-color: #357ebd !important;
}

.contactList .md-button:hover {
    background-color: #b1783a !important;
}

.circleList .md-button:hover {
    background-color: #b1783a !important;
}

.selected {
    background-color: #357ebd;
    color: #b1783a !important;
}

.selected .md-button:hover {
    background-color: #357ebd !important;
}

.selected p {
    color: #000 !important;
}

/*------------------------------------------ChatStyle----------------------------------------*/

.chat_cls {
    height:100%;
    min-height: 100%;
    max-height: 100%;
    overflow:hidden;
}

.chatHeader {
    padding-top: 15px;
    padding-left:25px;
    width:100%;
    height:100px;
    max-height: 100px;
    min-height: 100px;
    z-index : 10;
}

@media only screen and (max-width: 959px) {
    .chatHeader {
        padding-left: 85px;
    }
}

.chatHeader md-list {
     height:inherit !important
}

.chatMessageBox {
    overflow:hidden; 
    box-sizing: border-box;
    width:100%;
}

.chatMessageBoxList{
    width : 100%;
    padding : 0px 5px;
    max-height:100%;
    overflow-y:auto;
}

.chatDayDividerOuter{
    position:sticky;
    width:100%;
    top:0px;
    z-index:3;
    background: #FFF none repeat scroll 0% 0%;
    transition: background .5s ease-out 0s;
}

.msgByUser {
    width:100%;
    transition: background .5s ease-out 0s;
}

.msgByUserDetails {
    width:70px;
    color:#c9c9c9;
    text-align:center;
    font-size:15px;
}

.msgByUserDetails img {
    height:45px;
    margin-left:18%;
}

.chatMessageText {
    background-color: inherit;
    padding:0px;
    border : 0px;
    font-size:16px !important;
    color:#434343 !important;
    word-wrap : break-word;
    font-family: "SourceSansPro-Regular";
    margin: 0px;
}
.msgByUserMessage {
    width:93%;
    padding-left:10px;
    display: inline-block;
}

.msgToUser {
    width:100%;
    overflow-x:hidden;
    transition: background .5s ease-out 0s;
}

md-list-item, md-list-item .md-list-item-inner {
    min-height: inherit;
    max-height: inherit;
}

.msgToUserDetails {
    width:80px;
    color:#c9c9c9;
    text-align:center;
    font-size:15px;
}

.msgToUserMessage {
    display: inline-block;
    width:93%;
    text-align:right;
    padding-right:10px;
}

.dayDividerLine {
    width:100%;
    position:absolute;
    border:1px solid #357ebd;
    top:10px;
    margin:0px;
    z-index : 3;
}

.chatDayDividerOuter .md-subheader-content {
    display:flex;
    justify-content:center;
}

.chatDayDivider {
    position:relative;
    color:#357ebd;
    margin:0px auto;
    padding: 0px 5px;
    box-sizing: border-box;
    font-size:20px;
    font-weight: 1000;
    background-color:#fff;
    background: #FFF none repeat scroll 0% 0%;
    display:inline-block;
    text-align:center;   
    line-height:1.2em;
    z-index :4;
}

.chatFooter {
    position:absolute;
    left:75px;
    right:25px;
    display:block;
    bottom:10px;
    height:50px;
    z-index : 3;
    background: #FFF none repeat scroll 0% 0%;
}

.chatFooter .input_container {
    height:50px;
    position:absolute;
    left:0px;
    right:70px;
}

.chatFooter .input_container .fileUploadButton {
    height:50px;
    width:50px;
    left:-50px;
    position:absolute;
    padding:0px;
    border:2px solid #c9c9c9;
    border-radius:7px 0px 0px 7px;
}

.chatFooter .input_container .fileUploadButton:hover {
    background-color: #357ebd;
    border:2px solid #357ebd;
}

.chatFooter .input_container .chatForm {
    height:50px;
    position:absolute;
    padding:0px;
    width:100%;
}

.chatFooter .input_container .chatForm .chatInput {
    height:50px;
    min-height: 50px;
    line-height: 50px;
    position:absolute;
    width:100%;
    padding:0px 25px;
    border-radius:0px 0px 0px 0px;
    font-family: "SourceSansPro-Regular";
    font-size:18px;
    border:1px solid #c9c9c9;
}

.smileyPopupButton {
    position:absolute;
    right:-50px;
    width:50px;
    height:50px;
    border-radius:0px 7px 7px 0px;
    color:#c9c9c9;
}

.smileyPopupButton:hover {
    color:#357ebd;
}

.smileySelectDiv {
    display:none;
    position: absolute;
    bottom: 70px;
    right:30px;
    z-index: 50;
    display: none;
    float: left;
    width: 304px;
    height:354px;
    max-height: 354px;
    overflow:hidden; 
    padding: 0px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    transition: all 400ms ease-out 50ms ;
}



.emo_header {
    background-color:#357ebd !important;
    width:100%;
    min-height:50px;
    height:50px
}

.emo_header_text {
    font-weight:500;
    color:#fff;
    padding:10px;
    padding-left: 20px;
}

.emo_subHeader {
    margin : 0px;
    font-size: 20px;
    font-weight: 350;
    padding: 5px 15px 5px 15px;
}

.emo_subHeader1 {
    margin : 0px;
    padding: 0px;
    background-color: #eee;
}

.emo_sub {
    display :inline-block;
    font-size: 25px;
    font-weight: 500px;
    line-height: 40px;
    width:58px;
    background-color: inherit;
    border-radius: 5px;
    align-items:center;
    text-align: center;
    padding : 0px;
    vertical-align: middle;
    outline:0;
}

.emo_sub:hover {
    border-bottom: 3px solid #357ebd;
}

.emo_sub:active {
    border-bottom: 3px solid #357ebd;
}

.smileySelectDiv .emo1_content {
    display :inline-block;
    width:38px;
    height:32px;
    line-height: 32px;
    font-size: 25px;
    margin:0px;
    border-radius: 5px;
    align-items:center;
    text-align: center;
    padding : 0px 0px 5px 0px;
    vertical-align: middle;
}

.emo1_content:hover{
    background-color: #357ebd;
}

/*-------------------------------Chatstyle ends here--------------------------------------*/

/*-------------------------------ProfileViewStyle-----------------------------------------*/

.viewProfHeader {
    padding-left:25px;
    padding-top:10px;
    height:100px;
    min-height:150px;"
}

@media only screen and (max-width: 959px) {
    .viewProfHeader {
        padding-left: 85px !important;
    }
}

.add-button {
    position: absolute !important,
    bottom : 0px !important;
    right : 0px !important;
    /*z-index:3;*/
}

.profile_subHeader {
    text-align: left;
}

.color {
    color : #357ebd !important;
    font-weight: 700 !important;
    font-size: 20px !important;
}

.footer {
    height : 50px;
    width : 100%;
    display : block;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    position : absolute;
    bottom : 0px;
    color : #357ebd;
    font-size : 30px;
    background-color: #eee;
    /*text-align: center;*/
}

.profileData {
    padding-left: 25px !important;
}

/*--------------------------------------editProfile-----------------------------------*/

.editProfileSidebar {
    height:100%;
    min-height: 100%;
    width:240px !important;
    min-width: 240px !important;
    max-width: 240px !important;
    background-color:#357ebd;
    box-sizing: border-box;
}

.editProfSidebarHeader {
    background-color:#357ebd;
    color:#fff;
    padding-top: 25px;
}

.editProfSidebarHeader .editProfSidebarHeaderImage {
    position: relative;
    border-radius: 50%;
    width:130px;
}

.editProfSidebarHeader .editProfSidebarHeaderImage .changePhotoButton {
    position:absolute;
    /*vertical-align: center;*/
    left :40px;
    top : 45px;
    display:none;
}  

.backButton {
    position:absolute;
    right : 5px;
    top: 5px;
}

.nameDiv, .desigDiv {
    padding: 0px 25px;
    position:relative;
}

.nameDiv:hover, .desigDiv:hover {
    background-color: #357ebd;
}

.nameDiv:hover i,.desigDiv:hover i {
    display : inline-block;
}


.editPencil{
    position: absolute;
    display: none;
    right: 5px;
    line-height: 28px;
    vertical-align: middle;
    color: #b1783a;
}

.nameDiv span{
    font-size: 20px;
    padding: 10px;
}

.desigDiv span{
    font-size: 20px;
}

.nameEditButton{
    width:70px;
    min-width: 70px;
    height:25px;
    min-height: 25px;
    line-height: 25px;
}

.profileData {
    width:100%;
    padding-right: 30px !important;
}

.addDataButton {
    width:25px;
    height:25px;
    line-height:25px
}

.addDataButton img {
    width:25px;
    height:25px;
}

.aboutMe span {
    word-break:break-word;
}

.editAboutMe textarea {
    width:100%;
    border-radius: 20px;
    height:100px;
    padding:10px 25px;
    border:1px solid #c9c9c9;
    /*max-height:150px;*/
}

.editProfFooter {
    position : absolute;
    bottom:0px;
    width:100%;
    height:50px;
}

.profUpdateButton{
    background-color: #357ebd !important;
    width:200px;
    height:50px;
    left:35%;
    bottom:0px;
    border-radius: 7px 7px 0px 0px;
}

.profUpdateButton span {
    color:#fff;
    font-size:18px;
    font-weight:900;
}

.aboutMe, .educationViewDiv, .experienceViewDiv, .projectsViewDiv {
    padding : 0px 25px 10px 10px;
}

.aboutMe span, .educationViewDiv div span, .experienceViewDiv div span, .projectsViewDiv span {
    font-size: 15px;
    font-weight: 600;
    color:#434343;
}

/*---------------------------------------contacts Page------------------------------------*/

.contactContainer {
    max-width: 100%;
    max-height: 100%;
    display: block;
    padding:0px;
    padding-left: 10px;
}

.frnd_List_class {
    position: relative;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*width:320px;
    min-width: 320px;
    max-width: 320px;*/
    height:100px;
    border:1px solid #c9c9c9;
    border-radius: 7px;
    padding: 15px;
    transform: translate3d(0,0,0);
}

@media only screen and (min-width: 960px) {
    .frnd_List_class {
        width: calc(33% - 20px);
        min-width: calc(33% - 20px);
        /*max-width: calc(33% - 20px);*/
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
    .frnd_List_class {
        width: calc(50% - 20px);
        min-width: calc(50% - 20px);
        /*max-width: calc(50% - 20px);*/
    }
}

@media only screen and (max-width: 599px) {
    .frnd_List_class {
        width: calc(100% - 20px);
        min-width: calc(100% - 20px);
        /*max-width: calc(100% - 20px);*/
    }
}

.frnd_List_class .contactImage {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right:10px;
}

.frnd_List_class .md-avatar {
    width: 70px;
    height: 70px;
}

.frnd_List_class .contactDetailText {
    width: calc(100% - 90px);
    /*height: 100%;*/
    display: inline-block;
    vertical-align: bottom;
}
.contactChatButton{
    position : absolute;
    width: 30px !important;
    height: 30px !important;
    max-height: 30px !important;
    line-height: 100% !important;
    vertical-align: middle;
    top:0px;
    right: 50px;
    z-index: 50;
    display: none;
}
.confrenceEditButton{
    position : absolute;
    width: 30px !important;
    height: 30px !important;
    max-height: 30px !important;
    line-height: 100% !important;
    vertical-align: middle;
    top:0px;
    right: 90px;
    z-index: 50;
    display: none;
}
.confrenceEditButton img{
     width: 25px;
    height: 25px;
}
.contactChatButton img{
    width: 25px;
    height: 25px;
}
.contactRemoveButton{
    position: absolute;
    width:30px !important;
    height: 30px !important;
    line-height: 100% !important;
    vertical-align: middle;
    top:0px;
    right: 10px;
    z-index: 50;
    display: none;
}
.frnd_List_class:hover{
    /*background-color: #eee;*/
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.176);
}
.frnd_List_class:hover .contactChatButton, .frnd_List_class:hover .contactRemoveButton,.frnd_List_class:hover .confrenceEditButton {
    display:block;
}

/*---------------------------------------viewCircle-----------------------------------*/

.viewCircleContent{
    padding:0px;
    display: flex;
    justify-content:center;
}

.viewCircleContentSection{
    height:100%;
    border-radius:15px;
    transition: all 400ms ease-out 50ms !important;
}

@media only screen and (min-width: 960px) {
    .viewCircleContentSection {
        width:700px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
    .viewCircleContentSection {
        width:600px;
    }
}

@media only screen and (max-width: 599px) {
    .viewCircleContentSection {
        width:350px;
    }
}

.viewCircleToolbar {
    position: relative;
    background-color: #fff !important;
    font-size: 30px;
    font-weight:600;
    min-height:50px;
    height:50px;
    max-height:50px;
    padding:10px 20px;
    border-radius: 7px 7px 0px 0px;
    color:#357ebd !important;
}

.viewCircleContentList{
    /*border:1px solid #c9c9c9;*/
    border-bottom:0px;
    overflow-y:auto;
    position: relative;
    padding: 0px 15px;
}

.grpChatButton {
    position: absolute;
    max-width: 30px !important;
    max-height: 30px !important;
    line-height: 100% !important;
    right:55px;
    top:7.5px;
}

.grpChatButton img{
    width: 30px;
    height: 30px;
}

.grpChatButton:hover {
    max-width: 40px !important;
    max-height: 40px !important;
    right:50px;
    top:5px
}

.grpChatButton:hover img {
    width: 40px;
    height: 40px;
}

.deleteGroupButton {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    line-height: 100% !important;
    right:0px;
    top:5px;
    font-size:20px;
    font-weight: 500;
    color:#434343 !important;
}

.deleteGroupButton:hover {
    font-size:35px;
}

.leaveGroupButton {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    line-height: 100% !important;
    right:0px;
    top:5px;
    font-size:20px;
    font-weight: 500;
    color:#434343 !important;
}

.leaveGroupButton:hover {
    font-size:35px;
}

.closeSearchButton {
    position: absolute;
    width: 40px !important;
    height: 40px !important;
    line-height: 100% !important;
    right:0px;
    top:5px;
    font-size:20px;
    font-weight: 500;
    color:#434343 !important;
    z-index: 10;
}

.closeSearchButton:hover {
    font-size:35px;
}

.grpMemberDetails {
    position: relative;
    padding-left: 15px;
    transform: translate3d(0,0,0) !important;
}

.grpMemberDetails:hover {
    background-color: #357ebd;
}

.grpAdminDetails:hover {
    background-color: #357ebd;
}

.RemoveGrpMemberButton {
    position: absolute;
    display:none;
    width: 40px !important;
    height: 40px !important;
    line-height: 100% !important;
    right:10px;
    top:10px;
    font-size:20px;
    font-weight: 500;
    color:red !important;
}

.RemoveGrpMemberButton:hover {
    background-color: #fff !important;
    font-size:35px;
}

.grpMemberDetails:hover .RemoveGrpMemberButton {
    display: block;
}

.newUserSearchResults{
    position: absolute;
    display: block;
    overflow: hidden;
    width: 50%;
    top: 100%;
    left:50%;
    z-index: 10;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

.newUserSearchResultsInner {
    height: calc(100% - 50px);
    overflow-y:auto;
}

.addToGroupButton {
    padding:0px;
    margin:0px;
    border-radius:0px;
    height:100%;
    width:100%;
    color:#fff;
    background-color:#c9c9c9;
    font-weight: 700;
}

.addToGroupButton:hover {
    background-color: #c9c9c9 !important;
}

/*------------------------------------createCircle---------------------------------------*/

.createCircleContent{
    padding:0px;
    display: flex;
    justify-content:center;
}

.createCircleContentSection{
    height:100%;
    border-radius:15px;
    transform: translate3d(0,0,0) !important;
}

@media only screen and (min-width: 960px) {
    .createCircleContentSection {
        width:700px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
    .createCircleContentSection {
        width:600px;
    }
}

@media only screen and (max-width: 599px) {
    .createCircleContentSection {
        width:350px;
    }
}

.createCircleToolbar {
    position: relative;
    background-color: #fff !important;
    font-size: 30px;
    font-weight:600;
    min-height:50px;
    height:50px;
    max-height:50px;
    padding:10px 20px;
    border-radius: 7px 7px 0px 0px;
    color:#357ebd !important;
}

.createCircleContentList{
    overflow-y:auto;
    position: relative;
    padding: 0px 15px;
    padding-bottom: 50px;
}

.submitButton {
    padding:0px;
    margin:0px;
    border-radius:0px;
    height:100%;
    width:100%;
    color:#fff;
    background-color:#357ebd;
    font-weight: 700;
}

.submitButton:hover {
    background-color:#357ebd !important;
}

/*-----------------------------------viewCircles--------------------------------------*/

.viewCirclesContent {
    padding:0px;
    display: flex;
    justify-content:center;
}

@media only screen and (min-width: 960px) {
    .viewCirclesContentSection {
        width:700px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 959px){
    .viewCirclesContentSection {
        width:600px;
    }
}

@media only screen and (max-width: 599px) {
    .viewCirclesContentSection {
        width:350px;
    }
}

.viewCirclesContentSection {
    position: relative;
    overflow-y:auto;
}

.createNewRoomButton {
    position: absolute;
    background-color: #357ebd;
    font-weight: 700px !important;
    top:0px;
    right: 0px;
    z-index: 9;
    color: #fff !important;
}

.createNewRoomButton:hover {
    background-color: #357ebd !important
}

.ownRoomsSubheader, .otrRoomsSubheader{
    position: relative;
    background-color: #fff !important;
    font-size: 30px;
    font-weight:600;
    line-height: 50px!important;
    min-height:50px !important;
    height:50px !important;
    max-height:50px !important;
    /*padding:10px 20px;*/
    border-radius: 7px 7px 0px 0px;
    color:#357ebd !important;
}

.ownRoomsContentList,.otrRoomsContentList {
    position: relative;
    padding: 0px 15px;
}

.ownRoomsContentListData, .otrRoomsContentListData {
    position:relative;
    /*transition: all 400ms ease-out 50ms !important;*/
}

.ownRoomsContentListData:hover, .otrRoomsContentListData:hover{
    background-color: #357ebd !important;
}

.ownRoomsContentListData:hover .md-button, .otrRoomsContentListData:hover .md-button{
    background-color: #357ebd !important;
}