<section ng-controller="fileshareController as ctrl" class="fileshare_cls">
    <md-subheader  style="color:#357ebd;font-weight:600;font-size:20px;padding:25px;">
        File Details
    </md-subheader>
    <md-content resize ng-style="fullPageStyle()" style="overflow-y:auto"> 
    <section>
            <md-subheader style="color:#357ebd;font-weight:600;font-size:20px;padding:10px 25px;">
                File Uploaded By You
            </md-subheader>
            <md-list>
                <md-list-item class="file_List md-2-line" ng-repeat="item in files">
                  <span class="md-list-item-text md-raised" ng-click="viewFile(item._id)"> 
                    <ng-switch on="item.extention">
                        <span ng-switch-when = "pdf"> 
                        <img ng-src="/assets/imgs/fileicons/pdf.png" alt="pdf" width="50" height="50" /></span>
                        <span ng-switch-when ="mp4"> 
                        <img ng-src="/assets/imgs/fileicons/mp4.png" alt="mp4" width="50" height="50" /></span>
                        <span ng-switch-when ="mp3"> 
                        <img ng-src="/assets/imgs/fileicons/mp3.png" alt="mp3" width="50" height="50" /></span>
                        <span ng-switch-when ="webm"> 
                        <img ng-src="/assets/imgs/fileicons/webm.png" alt="webm" width="50" height="50" /></span>
                        <span ng-switch-when ="wav"> 
                        <img ng-src="/assets/imgs/fileicons/wav.png" alt="wav" width="50" height="50" /></span>
                        <span ng-switch-when ="jpg"> 
                        <img ng-src="/assets/imgs/fileicons/jpg.png" alt="jpg" width="50" height="50" /></span>
                        <span ng-switch-when ="png"> 
                        <img ng-src="/assets/imgs/fileicons/png.png" alt="png" width="50" height="50" /></span>
                        <span ng-switch-when ="gif"> 
                        <img ng-src="/assets/imgs/fileicons/gif.png" alt="gif" width="50" height="50" /></span>
                        <span ng-switch-when ="mkv"> 
                        <img ng-src="/assets/imgs/fileicons/mkv.png" alt="mkv" width="50" height="50" /></span>
                        <span ng-switch-when ="rar"> 
                        <img ng-src="/assets/imgs/fileicons/rar.png" alt="rar" width="50" height="50" /></span>
                        <span ng-switch-when ="zip"> 
                        <img ng-src="/assets/imgs/fileicons/zip.png" alt="zip" width="50" height="50" /></span>
                        <span ng-switch-when ="js"> 
                        <img ng-src="/assets/imgs/fileicons/js.png" alt="js" width="50" height="50" /></span>
                        <span ng-switch-when ="txt"> 
                        <img ng-src="/assets/imgs/fileicons/txt.png" alt="txt" width="50" height="50" /></span>
                    </ng-switch>
                        <h4>
                          {{item.fileName | uppercase }}
                        </h4>
                        <p>{{item.date}}</p>
                    </span>
                    <span><md-button class="md-warn md-raised" ng-click="removeFile($event,item._id,item.fileName)">Remove</md-button></span>
                    <span><md-button class="md-warn md-raised"><a href="uploadedfiles/{{item.fileName}}" download style="color: white;text-decoration: none !important;"><i class="fa fa-download"></i> Download</a></md-button></span>
                </md-list-item>
            </md-list>
        </section>
        <section>
            <md-subheader style="color:#357ebd;font-weight:600;font-size:20px;padding:10px 25px;">
                File Shared with You
            </md-subheader>
            <md-list>
                <md-list-item class="file_List md-3-line" ng-repeat="sharedItem in sharedFiles" layout="row">
                    <span class="md-list-item-text md-raised" ng-click="viewFile(sharedItem._id)">
                        <ng-switch on="sharedItem.extention">
                            <span ng-switch-when = "pdf"> 
                            <img ng-src="/assets/imgs/fileicons/pdf.png" alt="pdf" width="50" height="50" /></span>
                            <span ng-switch-when ="mp4"> 
                            <img ng-src="/assets/imgs/fileicons/mp4.png" alt="mp4" width="50" height="50" /></span>
                            <span ng-switch-when ="mp3"> 
                            <img ng-src="/assets/imgs/fileicons/mp3.png" alt="mp3" width="50" height="50" /></span>
                            <span ng-switch-when ="webm"> 
                            <img ng-src="/assets/imgs/fileicons/webm.png" alt="webm" width="50" height="50" /></span>
                            <span ng-switch-when ="wav"> 
                            <img ng-src="/assets/imgs/fileicons/wav.png" alt="wav" width="50" height="50" /></span>
                            <span ng-switch-when ="jpg"> 
                            <img ng-src="/assets/imgs/fileicons/jpg.png" alt="jpg" width="50" height="50" /></span>
                            <span ng-switch-when ="png"> 
                            <img ng-src="/assets/imgs/fileicons/png.png" alt="png" width="50" height="50" /></span>
                            <span ng-switch-when ="gif"> 
                            <img ng-src="/assets/imgs/fileicons/gif.png" alt="gif" width="50" height="50" /></span>
                            <span ng-switch-when ="mkv"> 
                            <img ng-src="/assets/imgs/fileicons/mkv.png" alt="mkv" width="50" height="50" /></span>
                            <span ng-switch-when ="rar"> 
                            <img ng-src="/assets/imgs/fileicons/rar.png" alt="rar" width="50" height="50" /></span>
                            <span ng-switch-when ="zip"> 
                            <img ng-src="/assets/imgs/fileicons/zip.png" alt="zip" width="50" height="50" /></span>
                            <span ng-switch-when ="js"> 
                            <img ng-src="/assets/imgs/fileicons/js.png" alt="js" width="50" height="50" /></span>
                            <span ng-switch-when ="txt"> 
                            <img ng-src="/assets/imgs/fileicons/txt.png" alt="txt" width="50" height="50" /></span>
                        </ng-switch>
                        <h3> {{sharedItem.fileName}} </h3>
                        <p> {{sharedItem.date}}</p>
                    </span>
                    <span><md-button class="md-warn md-raised" ng-click="removeSharedFile($event,sharedItem._id,sharedItem.fileName)">Remove</md-button></span>
                    <span><md-button class="md-warn md-raised"><a href="uploadedfiles/{{sharedItem.fileName}}" download style="color: white;text-decoration: none !important;"><i class="fa fa-download"></i> Download</a></md-button></span>
                </md-list-item>
            </md-list>
        </section>
        <section>
            <md-subheader style="color:#357ebd;font-weight:600;font-size:20px;padding:10px 25px;">
               Video Messages
            </md-subheader>
            <md-list>
                <md-list-item class="file_List md-3-line" ng-repeat="videoMsgs in videoMsg" layout="row">
                    <span class="md-list-item-text md-raised" ng-click="viewFile(videoMsgs._id)">
                        <ng-switch on="videoMsgs.extention">
                            <span ng-switch-when ="mp4"> 
                            <img ng-src="/assets/imgs/fileicons/mp4.png" alt="mp4" width="50" height="50" /></span>
                            <span ng-switch-when ="webm"> 
                            <img ng-src="/assets/imgs/fileicons/webm.png" alt="webm" width="50" height="50" /></span>
                        </ng-switch>
                        <h3> {{videoMsgs.fileName}} </h3>
                        <p> {{videoMsgs.date}}</p>
                    </span>
                  <!--   <span><md-button class="md-warn md-raised" ng-click="removeSharedFile($event,videoMsgs._id,videoMsgs.fileName)">Remove</md-button></span> -->
                    <span><md-button class="md-warn md-raised"><a href="uploadedfiles/{{videoMsgs.fileName}}" download style="color: white;text-decoration: none !important;"><i class="fa fa-download"></i> Download</a></md-button></span>
                </md-list-item>
            </md-list>
        </section>
    </md-content>    
    <div class="modal fade" id="showfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:840px;margin-left:-100px">
                <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hipdfen="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><label>PDF Viewer</label></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <button class="btn" ng-click="gotoPage(1)">|&lt;</button>
                        <button class="btn" id="prev" ng-click="prevPage()">&lt;</button>
                        <button class="btn" id="next" ng-click="nextPage()">&gt;</button>
                        <button class="btn" ng-click="gotoPage(totalPages)">&gt;|</button>
                        <div class="form-group col-xs-5 col-lg-2" style="width:11.666667%;">
                            <input type="text" class="form-control" ng-model="pageno" placeholder="Page No." ng-keyup="gotoSpecificPage()" onkeypress="return isNumber(event)" maxlength="3">
                        </div>
                      <span class="label1 label-success">{{currentPage}}/{{totalPages}}</span>
                    </div>
                    <pdfviewer src="{{filname}}" on-page-load='pageLoaded(page,total)' id="viewer" zoomLevel="page-fit">
                    </pdfviewer>
                </div>
                <div class="modal-footer" style="border-top: 3px solid #3F51B5;">
                    <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="showVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
         <div class="modal-content" style="width:500px;margin-left:25px">
                <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                    <h4 class="modal-title" id="myModalLabel"><label>Video Player</label></h4>
                </div>
                <div class="modal-body">
                    <video src="{{filname}}" width="450" height="240" autoplay controls  loop>
                    </video>
                </div>
                <div class="modal-footer" style="border-top: 3px solid #3F51B5;">
                    <md-button class="md-raised" data-dismiss="modal" aria-label="Close" ng-click="fn_closeVideo
                    ()">Close</md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="showImages" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width:500px;margin-left:25px">
                <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                    <h4 class="modal-title" id="myModalLabel"><label>Image Viewer</label></h4>
                </div>
                <div class="modal-body">
                    <img src="{{filname}}" width="450" height="240" />
                </div>
                <div class="modal-footer" style="border-top: 3px solid #3F51B5;">
                    <md-button class="md-raised" data-dismiss="modal" aria-label="Close" ng-click="fn_closeVideo
                    ()">Close</md-button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
      // setInterval(function(){ 
      //    $("#next").click();
      // },5000);
      function isNumber(evt) {
          evt = (evt) ? evt : window.event;
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode > 31 && (charCode < 48 || charCode > 57)) {
              return false;
          }
          return true;
      }
    </script>
</section>