<section ng-controller="conferenceController">
  <div style="padding:0px 25px;;min-height:100px;display:flex;justify-content:flex-start;position:relative" id="main_id">
        <form class="conferenceSearchForm">
            <md-input-container style="width:50%;padding:15px 10px">
                    <label>Conference Name</label>
                    <input ng-model="confrenceName" style="width:300px;" autocomplete="off">
            </md-input-container>
                <div class="row">
                        <div class="col-md-6" style="width: 200px;">
                          <h5><b>Friends List</b></h5>
                            <md-list-item ng-if="got_contacts"  ng-repeat="item in contacts" >
                                    <div ng-if="item.status == 'online' "  style=" display: flex;align-items: baseline;">
                                      <i class="fa fa-circle" style="color:green;font-size:12px;"></i>
                                      <p class="online_contacts" style="color: #000;" >{{item.fullName}}  <img  src="assets/imgs/icons/More_Options.png" width="18"  title="Add" 
                                      ng-click="addtoSelected(item._id,item.fullName)" /></p>
                                    </div>
                                    <div ng-if="item.status == 'offline' "  style=" display: flex;align-items: baseline;" >
                                     <i class="fa fa-circle" style="color:#949494;font-size:12px;"></i>
                                      <p class="online_contacts" style="color: #000;" >{{item.fullName}}  <img  src="assets/imgs/icons/More_Options.png" width="18"  title="Add" 
                                      ng-click="addtoSelected(item._id,item.fullName)" /></p>  
                                    </div>  
                            </md-list-item>
                            <md-list-item ng-hide="got_contacts">
                                No  contacts 
                            </md-list-item>
                       </div>
                       <div class="col-md-6" style="width: 200px;">
                            <span ng-show="selectedList.length > 0">
                                  <h5><b>Selected</b></h5>
                            </span> 
                            <md-list-item ng-if="got_contacts"  ng-repeat="item in selectedList" class="contactList">
                                    <i class="fa fa-circle" style="color:red;font-size:12px;"></i>
                                    <p class="online_contacts" style="color: #000;" >{{item.name}} <img  src="assets/imgs/icons/End_Call.png" width="18"  title="Remove" 
                                    ng-click="removefromSelected(item._id)" /></p>
                            </md-list-item>
                       </div>
                </div>
                <md-input-container style="width:50%;padding:10px 10px">
                    <label>Date</label>
                   <input ng-model="confdate" datetime-picker date-format="dd/MM/yyyy HH:mm " close-on-select="false" future-only  style="width:300px;" /> 
                </md-input-container>
              <audio id="myAudio" controls src="assets/audio/ringtone.mp3" style="display:none;" loop></audio>
            <md-button class="md-raised"  style="color: rgb(255, 255, 255);background-color:#357ebd;font-weight: 800;" ng-click="liveCall($event)">Call Now</md-button>
            <md-button class="md-raised"  ng-click="scheduleCall()" style="color: rgb(255, 255, 255);
            background-color: #357ebd;font-weight: 800;">Schedule</md-button>
            <br>
           <!--  <span  style=" display: flex;align-items: baseline;">
                <i class="fa fa-circle" style="color:green;font-size:12px;"></i>
                <p class="online_contacts" style="color: #000;" >Online</p>
            </span>
            <span  style=" display: flex;align-items: baseline;">
                <i class="fa fa-circle" style="color:#949494;font-size:12px;"></i>
                <p class="online_contacts" style="color: #000;" >Offine</p>
            </span> -->
    </form>
  </div>
    <div class="videoOuterContainer" resize ng-style="fullPageStyle()" style="overflow-y:auto">
        <div id="video_list" style="position:absolute;padding-top: 50px;padding-left: 36px;"></div>
        <div id="video_list2" style="position:absolute;padding-top: 150px;padding-left: 36px;"></div>
        <div id="main_videodiv" style="position:absolute;bottom:150px;right:0px;height:0%;z-index:10;">
            <video id="main_video" autoplay class="thumbnail" style="cursor:pointer;border:3px solid #357ebd;border-radius:10px;height:150px;width:180px;display:none" poster="assets/imgs/novideo.png">
            </video>
            <div id="button_list" style="display:none">
                <img id="exit_call" src="assets/imgs/icons/End_Call.png" width="30" title="End Call" style="position:absolute;left:12px;bottom: -130px;cursor:pointer" ng-click="disconnectCall()" />
                <img id="unmute_call" src="assets/imgs/icons/Mic_Active.png" width="30" style="position:absolute;left:45px;bottom: -130px;cursor:pointer" title="Unmute" ng-click="unmuteCall()" />
                <img id="mute_call" src="assets/imgs/icons/Mic_InActive.png" width="30" style="position:absolute;left:45px;bottom: -130px;cursor:pointer" title="Mute" ng-click="muteCall()" />
                <img id="show_video" src="assets/imgs/icons/Video_Active.png" width="30" style="position:absolute;left:78px;bottom: -130px;cursor:pointer" title="Show Video" ng-click="showVideo()" />
                <img id="remove_video" src="assets/imgs/icons/Video_InActive.png" width="30" style="position:absolute;left:78px;bottom: -130px;cursor:pointer" title="Remove Video" ng-click="hideVideo()" />
                <img id="add_participant" src="assets/imgs/icons/More_Options.png" width="30" style="position:absolute;left:112px;bottom: -130px;cursor:pointer" title="Add New Person" ng-click="addnewParticipant()" />
            </div>
        </div>
    </div>
    <div class="modal fade" id="newparticipantList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
         <div class="modal-content" style="width: 520px;;margin-left:25px">
                <div class="modal-header" style="border-bottom: 3px solid #357ebd;">
                    <h4 class="modal-title" id="myModalLabel"><label>Add Participants to Livecall</label></h4>
                </div>
                <div class="modal-body">
                      <span id="err_msg" style="display:none;"></span>
                    <div class="row">
                        <div class="col-md-6">
                            <md-list-item ng-if="got_online_contact_onadd"  ng-repeat="item in contactsOnline" class="contactList">
                                      <i class="fa fa-circle" style="color:green;font-size:12px;"></i>
                                      <p class="online_contacts" style="color: #000;" >{{item.fullName}}  <img  src="assets/imgs/icons/More_Options.png" width="18"  title="Add" 
                                      ng-click="addtoList(item._id,item.fullName)" /></p>
                            </md-list-item>
                            <md-list-item ng-hide="got_online_contact_onadd">
                                No online contacts 
                            </md-list-item>
                       </div>
                       <div class="col-md-6">
                              <md-list-item ng-if="got_online_contact_onadd"  ng-repeat="item in newparticipants2" class="contactList" ng-class="{selected: selection.selectedNode == item._id}" ng-cloak>
                                      <i class="fa fa-circle" style="color:green;font-size:12px;"></i>
                                      <p class="online_contacts" style="color: #000;" >{{item.name}} <img  src="assets/imgs/icons/End_Call.png" width="18"  title="Remove" 
                                      ng-click="removefromList(item.id)" /></p>
                              </md-list-item>
                       </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: 3px solid #357ebd;">
                   <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                   <md-button class="md-primary md-raised" ng-click="addtoConf()"  id="upld" aria-label="SaveChanges" >Call</md-button>
                </div>
            </div>
        </div>
    </div>
</section>
