<section ng-controller="conferenceListController">
    <md-subheader  style="color:#357ebd;font-weight:600;font-size:20px;padding:25px;">
        Confrence List
    </md-subheader>
    <md-content resize ng-style="fullPageStyle()" style="overflow-y:auto"> 
        <section layout="row" class="contactContainer">
            <md-subheader style="color:#357ebd;font-weight:600;font-size:20px;padding:10px 25px;">
            Active Confrence 
            </md-subheader>
            <md-list>
            <md-list-item class="frnd_List_class md-3-line" ng-repeat="item in activeConf" layout="row">
                <span class="contactDetailText md-list-item-text"  >
                    <h4><span class="contactName" style="text-transform:capitalize;font-size:18px;font-weight: 700;">
                    {{item.subject | uppercase }}</span></h4>
                    <h3>{{item.date | date:'dd-MM-yyyy'}} &nbsp;&nbsp; {{item.times}}</h3>
                </span>
                <md-button class="md-icon-button contactChatButton" ng-click="viewParticipants(item._id)"><md-tooltip> Participants </md-tooltip><img ng-src="assets/imgs/icons/More_Options.png"/></md-button>
                <md-button class="md-icon-button confrenceEditButton" ng-click="editConfrence(item._id)"><md-tooltip> Edit </md-tooltip><img ng-src="assets/imgs/icons/Sidepanel_Hide.png"/></md-button>
                <md-button class="md-icon-button contactRemoveButton" ng-click="removeConfrence($event,item._id,item.subject)"><md-tooltip>Remove</md-tooltip><i style="color:red;font-size:25px;" class="fa fa-times"></i>
                </md-button>
            </md-list-item>
            </md-list>
        </section>
        <section layout="row" class="contactContainer">
            <md-subheader style="color:#357ebd;font-weight:600;font-size:20px;padding:10px 25px;">
            Expired Confrence  and Rejected Confrence
            </md-subheader>
            <md-list>
            <md-list-item class="frnd_List_class md-3-line" ng-repeat="item in expDetails" layout="row">
                <span class="contactDetailText md-list-item-text"  >
                    <h4><span class="contactName" style="text-transform:capitalize;font-size:18px;font-weight: 700;">
                    {{item.subject | uppercase }}</span></h4>
                    <h3>{{item.date | date:'dd-MM-yyyy'}} &nbsp;&nbsp; {{item.times}} </h3>
                    <p style="color:red;font-weight:">{{item.eventSatus}}</p>
                </span>
                <md-button class="md-icon-button contactChatButton" ng-click="viewParticipants(item._id)"><md-tooltip> Participants </md-tooltip><img ng-src="assets/imgs/icons/More_Options.png"/></md-button>
                <md-button class="md-icon-button contactRemoveButton" ng-click="removeConfrence($event,item._id,item.subject)"><md-tooltip>Remove</md-tooltip><i style="color:red;font-size:25px;" class="fa fa-times"></i>
                </md-button>
            </md-list-item>
            </md-list>
        </section>
    </md-content>    
    <div class="modal fade" id="participantList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
         <div class="modal-content" style="width:500px;margin-left:25px">
                <div class="modal-header" style="border-bottom: 3px solid #357ebd;">
                    <h4 class="modal-title" id="myModalLabel"><label>List of Participants</label></h4>
                </div>
                    <div class="modal-body">
                        <md-list>
                            <md-list-item  ng-repeat="item in participant">
                                    <h4>
                                       {{item.name | uppercase }}
                                    </h4>&nbsp;
                                   <p><b>{{item.mailid}}</b></p>
                            </md-list-item>
                         </md-list>
                    </div>
                <div class="modal-footer" style="border-top: 3px solid #357ebd;">
                    <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edtCof" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" >
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:500px;margin-left:25px">
                <div class="modal-header" style="border-bottom: 3px solid #357ebd;">
                    <h4 class="modal-title" id="myModalLabel"><label>List of Participants</label></h4>
                </div>
                <div class="modal-body">
                 <input type="text"           name="name"     ng-model="confName" />
                 <input type="datetime-local" name="datetime" ng-model="datetime" />
                                    <!-- <h4>{{ dt | date: 'MM/dd/yyyy' }}</h4>
                                    <h4>{{dt | date:'hh:mm a'}}</h4> -->
                                    <md-list>
                                        <md-list-item  ng-repeat="item in memb">
                                            <h5>{{item | uppercase }}</h5>
                                        </md-list-item>
                                    </md-list>
                </div>
                <div class="modal-footer" style="border-top: 3px solid #357ebd;">
                    <md-button class="md-primary md-raised" ng-click="updateConfrence()"  aria-label="SaveChanges" >Update</md-button>
                    <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        input {
              font-size:18px;
              padding:10px 10px 10px 5px;
              display:block;
              width:300px;
              border:none;
              border-bottom: 2px solid #357ebd;
        }
        input:focus         { outline:none; }
    </style>
</section>
