<section ng-controller="ReqController as rctrl">
	<md-subheader  style="color:#357ebd;font-weight:600;font-size:20px;padding:25px;">
        Requests
    </md-subheader>
    <md-content resize ng-style="fullPageStyle()" style="overflow-y:auto"> 
        <section layout="row" class="contactContainer">
          <md-subheader style="color:#357ebd;font-weight:600;font-size:20px;padding:10px 25px;">
            Received Requests
            </md-subheader>
            <md-list>
            <md-list-item class="frnd_List_class md-3-line" ng-repeat="item in recItems" layout="row">
            <img   ng-src="{{item.profilePicture}}" class="md-avatar"/>	
                <span class="contactDetailText md-list-item-text">
                    <h3><span class="contactName" style="text-transform:capitalize;font-size:18px;font-weight: 700;">{{item.username}}</span></h3>
                    <h4>{{item.fullName}}</h4>
                    <h5>{{item.email}}</h5>
                     <md-button class="md-icon-button" ng-click="acceptReq(item._id)"><md-tooltip> Add </md-tooltip><i style="color:green;font-size:25px;" class="fa fa-check"></i></md-button>
                <md-button class="md-icon-button" ng-click="rejectReq(item._id)"><md-tooltip>Remove</md-tooltip><i style="color:red;font-size:25px;" class="fa fa-times"></i>
                </md-button>
                </span>
            </md-list-item>
            </md-list>
        </section>
        <section layout="row" class="contactContainer">
            <md-subheader style="color:#357ebd;font-weight:600;font-size:20px;padding:10px 25px;">
            Sent Requests
            </md-subheader>
            <md-list>
            <md-list-item class="frnd_List_class md-3-line" ng-repeat="item in sntItems" layout="row">
                <span class="contactDetailText md-list-item-text"  >
                   <h3><span class="contactName" style="text-transform:capitalize;font-size:18px;font-weight: 700;">{{item.username}}</span></h3>
                    <h4>{{item.fullName}}</h4>
                    <h5>{{item.email}}</h5>
                </span>
            </md-list-item>
            </md-list>
        </section>
    </md-content> 
</section>