<md-dialog aria-label="Search">
  <md-toolbar style="background-color:#357ebd">
    <div class="md-toolbar-tools alertHeader">
      <h2>{{alertData.title}}</h2>
      <span flex></span>
      <span><md-button class="md-icon-button" aria-label="AlertCloseButton" ng-click="cancel()"><i class="fa fa-times"></i></md-button></span>
    </div>
  </md-toolbar>
  <md-dialog-content style="width:500px;min-height:100px;padding:25px;">
    <span style="font-size:16px;font-weight: bold;" ng-bind-html="alertData.content"></span>
  </md-dialog-content>
</md-dialog>