<section ng-controller="SidebarController as sCtrl" layout="row" flex="" class="sidebar_cls" style="height:100%;">
    <md-sidenav class="sidebar md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-content style="background-color:#357ebd;height:100%">
        <md-menu class="menu_class" md-offset="0 50" aria-label="Menu">
        <md-button class="md-icon-button" aria-label="settingsMenu" ng-click="$mdOpenMenu($event)" style="position:absolute;right:0px;padding:0px;margin:0px;"><md-tooltip>Settings</md-tooltip><img ng-src="assets/imgs/icons/Settings.png"/></md-button>
        <md-menu-content width="1" class="settings_Menu">
            <md-menu-item><md-button ng-click="">Set Away</md-button></md-menu-item>
            <md-menu-item><md-button ng-href="#!/editProfile">Edit Profile</md-button></md-menu-item>
            <md-menu-item><md-button data-toggle="modal" data-target="#changepassword">Change Password</md-button></md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item><md-button ng-href="/signout">Signout</md-button></md-menu-item>    
        </md-menu-content>
        </md-menu>
        <div class="sidebar_header" align="center" show-gt-md="">
            <div class="sidebarHeaderImage">
                <img ng-src="{{profPic}}" ng-click="fn_Home()" class="img-responsive img-circle img-thumbnail">
            </div>
            <h3 style="text-transform:capitalize;margin:5px 0px 0px 0px;font-size:20px;">{{sCtrl.user.fullName}}</h3>
            <span ng-if="sCtrl.user.designation.length" style="font-size:18px"> <span style="text-transform:capitalize">{{sCtrl.user.designation}}</span><span ng-if="sCtrl.user.designation.length&&sCtrl.user.companyName.length"> at </span><span ng-if="sCtrl.user.companyName.length" style="text-transform:capitalize">{{sCtrl.user.companyName}}</span></span>
            <br>
           <!--  <div>
            <a href="" ng-click="clickColor(1)"><span class="colorGreen">&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
            <a href="" ng-click="clickColor(2)"><span class="colorBlue">&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
            <a href="" ng-click="clickColor(3)"><span class="colorYellow">&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
            </div> -->
        </div>
        <md-list resize ng-style="sidenavListStyle()" class="sidebar_list" style="background-color:#357ebd;padding:0px;font-size:18px;overflow-y:auto;overflow-x:hidden" show-gt-md="">
            <md-list-item class="contact_divider">
                <div style="width:100%; position:relative;" layout="column">
                    <hr role="seperator" class="sidebarDividerLine" aria-hidden="true"/>
                    <div class="sidebarDividerText">
                        <a href="#!/friends">Contacts</a>
                    </div>
                    <md-menu class="menu_class" md-offset="0 50" aria-label="Menu">
                        <md-button class="md-icon-button" aria-label="contactsMenu" ng-click="$mdOpenMenu($event)" style="position:absolute;top:5px;right:0px;max-width:20px;padding:0px;margin:0px;"><img ng-src="assets/imgs/icons/Dropdown_Arrow.png"/></md-button>
                        <md-menu-content width="1" class="settings_Menu">
                            <md-menu-item><md-button ng-href="#">option 1</md-button></md-menu-item>
                            <md-menu-item><md-button ng-href="#">option 2</md-button></md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item><md-button ng-href="#">option 3</md-button></md-menu-item>    
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-list-item>
            <md-list-item ng-if="got_online_contacts" ng-click="fn_GoChat(item)" ng-repeat="item in contacts" class="contactList" ng-class="{selected: selection.selectedNode == item._id}"><md-tooltip ng-if="item.new">New Messages</md-tooltip><i class="fa fa-circle" style="color:green;font-size:12px;"></i>
                <p class="online_contacts"> {{item.fullName}}</p>
                <md-button ng-if="item.new" class="md-icon-button" aria-label="chatNotification" style="color:#cc3300;"><i class="fa fa-exclamation">{{item.unreadMsgCount}}</i></md-button>
            </md-list-item>
            <md-list-item ng-if="more" ng-click="fn_ViewFriends()">
                    View More...
            </md-list-item>
            <md-list-item ng-hide="got_online_contacts">
                    No online contacts 
            </md-list-item>
            <md-list-item class="cr_divider">
                <div style="width:100%; position:relative;" layout="column">
                    <hr role="seperator" class="sidebarDividerLine" aria-hidden="true"/>
                    <div class="sidebarDividerText">
                        <a href="#!/circles">Conference Rooms</a>
                    </div>
                    <md-menu class="menu_class" md-offset="0 50" aria-label="Menu">
                        <md-button class="md-icon-button" aria-label="crMenu" ng-click="$mdOpenMenu($event)" style="position:absolute;top:5px;right:0px;max-width:20px;padding:0px;margin:0px;"><img ng-src="assets/imgs/icons/Dropdown_Arrow.png"/></md-button>
                        <md-menu-content width="1" class="settings_Menu">
                            <md-menu-item><md-button ng-href="#">option 1</md-button></md-menu-item>
                            <md-menu-item><md-button ng-href="#">option 2</md-button></md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item><md-button ng-href="#">option 3</md-button></md-menu-item>    
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-list-item>
            <md-list-item ng-if="got_circles" ng-repeat="item in conferenceRooms" ng-click="fn_GrpChat(item)" class="circleList" ng-class="{selected: selection.selectedNode == item._id}"><i class="fa fa-circle-o" style="color:#fff;font-size:12px;"></i>
                <p class="conference_rooms" > {{item.circleName}}</p>
                <md-button ng-if="item.new" class="md-icon-button" aria-label="chatNotification" style="color:#cc3300;"><i class="fa fa-exclamation">{{item.unreadMsgCount}}</i></md-button>
            </md-list-item>
            <md-list-item ng-hide="got_circles">
                        No Rooms... 
                        <a href=""> Add New </a>
            </md-list-item>
            <md-list-item class="divider">
                <a href="#!/requests">Requests</a>
            </md-list-item>
        </md-list>
        </md-content>
    </md-sidenav>
    <md-button ng-click="toggleLeft()"
        class="md-icon-button" style="font-size:30px;color:#357ebd;top:20px" hide-gt-md>
            <md-tooltip>Toggle Sidebar</md-tooltip>
            <i class="fa fa-arrow-circle-o-right"></i>
    </md-button>
      <div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby=" myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:500px;margin-left:100px">
                <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hipdfen="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <md-input-container>
                                <label>Password</label>
                                <input ng-model="password" type="password">
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <md-input-container>
                                <label>Confirm Password</label>
                                <input ng-model="confirm" type="password">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="modal-footer md-raised" style="border-top: 3px solid #3F51B5;">
                    <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                    <md-button class="md-primary md-raised" ng-click="changePassword()" aria-label="SaveChanges">Change Password</md-button>
                </div>
            </div>
        </div>
    </div>
</section>
