<section ng-controller="searchController as sctrl" class="Req_class"
 style="padding-top:5px">
 <md-subheader class="pageHeader">
        <h2>Advanced Search</h2>
</md-subheader>
	<div class="row" style="margin-left:100px;">
		<div class="col-md-4">
			<form class="advnSearchForm">
				<md-input-container style="padding:0px 0px 0px 0px;">
				<label style="padding-left:7px;top:2px"> <i class="fa fa-search"></i>Name</label>
				<input ng-change="fn_srch(name)" ng-keyup="fn_Tog($event)" ng-model="name" autocomplete="off"
				 id="withName">
				</md-input-container>
			</form>
		</div> 
		<div class="col-md-4">  
			<form class="advnSearchForm">
				<md-input-container style="padding:0px 0px 0px 0px;">
				<label style="padding-left:7px;top:2px"> <i class="fa fa-search"></i>Designation</label>
				<input ng-change="fn_srchDesig(desg)" ng-keyup="fn_Tog($event)" ng-model="desg" autocomplete="off"
				 id="withDesg">
				</md-input-container>
			</form> 
		</div> 
		<div class="col-md-4">  
			<form class="advnSearchForm">
				<md-input-container style="padding:0px 0px 0px 0px;">
				<label style="padding-left:7px;top:2px"> <i class="fa fa-search"></i>Company</label>
				<input ng-change="fn_srchCmpny(cmp)" ng-keyup="fn_Tog($event)" ng-model="cmp" autocomplete="off"
				id="withCmp">
				</md-input-container>
			</form> 
		</div> 
	</div>	 
	<div resize ng-style="fullPageStyle()" style="overflow-y:auto">
		<section layout="row" class="contactContainer">
            <md-list>
	            <md-list-item class="frnd_List_class md-3-line" ng-repeat="item in users" 
	            	layout="row" ng-click="fn_View(item.id)" ng-if="uid !== item._id" >
	            	<img   ng-src="{{item.profilePicture}}" class="md-avatar"/>	
	                <span class="contactDetailText md-list-item-text" >
	                    <h3><span class="contactName" style="text-transform:capitalize;font-size:18px;font-weight: 700;">{{item.fullName}}</span></h3>
	                    <h4>{{item.designation}}</h4>
	                    <h5>{{item.companyName}}</h5>
	                </span>
			  			<!-- <md-button class="md-icon-button contactRemoveButton" ng-click="fn_AddFriend($event,item._id)"><md-tooltip>Add</md-tooltip><i style="color:red;font-size:25px;" class="fa fa-plus"></i>
			  			</md-button> -->
	            </md-list-item>
            </md-list>
        </section>
	</div>  
</section>