<section ng-controller="editProfController" class="editProf_class" layout="row" style="height:100%">
    <md-sidenav class="editProfileSidebar md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    	<div class="editProfSidebarHeader" align="center">
    		<md-button class="md-icon-button backButton" ng-href="#!/" aria-label="back"><img ng-src="assets/imgs/icons/Back.png"/></md-button>
            <div class="editProfSidebarHeaderImage">
            	<a href="#" data-toggle="modal" data-target="#changeProfilepicture" onclick="openFileOption();return;">
            		<img ng-src="{{usr.profilePicture}}" ng-click="fn_Home()" ng-mouseenter="fn_showButton()" ng-mouseleave="fn_hideButton()" class="img-responsive img-circle img-thumbnail">
            		<img class="changePhotoButton" ng-style="changePhotoButtonStyle" ng-src="assets/imgs/icons/Camera.png"/>
            	</a>
            </div>
            <div ng-click="fn_NameEdit()" ng-if="!nameEdit" class="nameDiv"><span>{{usr.fullName}}</span><i class="fa fa-pencil editPencil"></i></div>
            <div ng-if="nameEdit">
            <md-input-container  align="left">
            	<label>
            		First Name
            	</label>
            	<input type="text" id="editProfFirstNameInput" ng-keyup="show()" ng-model="editProfFirstNameInputText"/>
            </md-input-container>
            <md-input-container  align="left">
            	<label>
            		Last Name
            	</label>
            	<input type="text" id="editProfLastNameInput" ng-model="editProfLastNameInputText"/>
            </md-input-container>
            <div align="right"><md-button class="nameEditButton md-warn md-raised" ng-click="fn_clearNameEdit()">Cancel</md-button><md-button class="nameEditButton md-raised" ng-click="fn_AddName()">Add</md-button></div>
            </div>
            <div ng-if="!desigEdit" ng-click="fn_DesigEdit()" class="desigDiv"><span ng-if="usr.designation">{{usr.designation}}</span><span ng-if="usr.designation&&usr.companyName"> at </span><span ng-if="usr.companyName">{{usr.companyName}}</span><i class="fa fa-pencil editPencil"></i></div>
            <form ng-if="desigEdit">
            <md-input-container align="left">
            	<label style="color: rgb(250,250,250)">
            		Designation
            	</label>
            	<input type="text" id="editProfDesigInput" ng-model="editProfDesigInputText"/>
            </md-input-container>
            <md-input-container align="left">
            	<label style="color: rgb(250,250,250)">
            		Company
            	</label>
            	<input type="text" id="editProfCompanyInput" ng-model="editProfCompanyInputText"/>
            </md-input-container>
            <div align="right"><md-button ng-hide="!(usr.designation&&usr.companyName)" class="nameEditButton md-warn md-raised" ng-click="fn_clearDesigEdit()">Cancel</md-button><md-button class="nameEditButton md-raised" ng-click="fn_AddDesig()">Add</md-button></div>
            </form>
            </div>
        </div>
    </md-sidenav>
    <md-button ng-click="toggleLeft()"
        class="md-icon-button" style="font-size:30px;color:#357ebd;top:20px" hide-gt-md>
            <md-tooltip>Toggle Sidebar</md-tooltip>
            <i class="fa fa-arrow-circle-o-right"></i>
    </md-button>
    <div style="padding-top:20px; padding-bottom: 50px;width:100%;overflow-y:auto" resize ng-style="profEditStyle()">
    <md-subheader style="color:#357ebd;font-weight:600;font-size:20px;padding-left:25px;margin-bottom:50px;">
    	Edit Profile
    </md-subheader>
	<div>
		<div layout="column" class="md-2-line">
			<span class="md-list-item-text profileData">
			<h3 class="color"> About me <md-button aria-label="abtMe" class="md-icon-button addDataButton" ng-click="fn_EditAboutMe()"><img ng-src="assets/imgs/icons/More_Options.png"/></md-button></h3>
			<div class="aboutMe" ng-style="aboutMeStyle"><span>{{usr.aboutMe}}</span></div>
			<div class="editAboutMe" ng-style="editAboutMeStyle">
				<md-input-container><textarea aria-label="abtMe" autocorrect="off" autocomplete="off" ng-model="aboutMeText" md-autofocus>{{usr.aboutMe}}</textarea></md-input-container>
				<div align="right"><md-button class="md-warn md-raised" ng-click="fn_clearAboutMe()">Cancel</md-button><md-button class="md-raised" ng-click="fn_AddAboutMe()">Add</md-button></div>
			</div>
			</span>
		</div>
		<md-divider></md-divider>
		<div layout="column" class="md-2-line">
			<span class="md-list-item-text profileData">
			<h3 class="color"> Education <md-button aria-label="edu" class="md-icon-button addDataButton" ng-click="fn_EditEducation()"><img ng-src="assets/imgs/icons/More_Options.png"/></md-button></h3>
			<div class="education" ng-style="educationStyle">
				<div class="educationViewDiv" ng-repeat="item in usr.education">
					<div layout="row" layout-align="space-between center">
						<span>{{item.course}}</span><span>{{item.period}}</span>
					</div>
					<div>
						<span>{{item.university}}</span>
					</div>
				</div>
			</div>
			<div class="editEducation" ng-style="editEducationStyle">
				<div layout="row" layout-align="space-between center">
					<md-input-container style="min-width:300px"><label>Course</label><input ng-model="eduCourse"/></md-input-container>
					<md-input-container style="min-width:300px"><label>Course Period</label><input ng-model="eduPeriod"/></md-input-container>
				</div>
				<div layout="row" layout-align="space-between center">
					<md-input-container style="min-width:300px"><label>University</label><input ng-model="eduUty"/></md-input-container>
					<span><md-button class="md-primary md-raised md-warn" ng-click="fn_clearEduEdit()">Cancel</md-button><md-button class="md-raised" ng-click="fn_AddToEdu()">Add</md-button></span>
				</div>
			</div>
			</span>
		</div>
		<md-divider></md-divider>
		<div layout="column" class="md-2-line">
			<span class="md-list-item-text profileData">
			<h3 class="color"> Work Experience <md-button aria-label="work" class="md-icon-button addDataButton" ng-click="fn_EditWrkExp()"><img ng-src="assets/imgs/icons/More_Options.png"/></md-button></h3>
			<div class="wrkExp" ng-style="wrkExpStyle">
				<div class="experienceViewDiv" ng-repeat="item in usr.experience">
					<div layout="row" layout-align="space-between center">
						<span>{{item.designation}}</span><span>{{item.period}}</span>
					</div>
					<div>
						<span>{{item.company}}</span>
					</div>
				</div>
			</div>
			<div class="editWrkExp" ng-style="editWrkExpStyle">
				<div layout="row" layout-align="space-between center">
					<md-input-container style="min-width:300px"><label>Designation</label><input ng-model="expDesig"/></md-input-container>
					<md-input-container style="min-width:300px"><label>Period</label><input ng-model="expPrd"/></md-input-container>
				</div>
				<div layout="row" layout-align="space-between center">
					<md-input-container style="min-width:300px"><label>Company</label><input ng-model="expCmpny"/></md-input-container>
					<span><md-button class="md-primary md-raised md-warn" ng-click="fn_clearExpEdit()">Cancel</md-button><md-button class="md-raised" ng-click="fn_AddToWrkExp()">Add</md-button></span>
				</div>
			</div>
			</span>
		</div>
		<md-divider></md-divider>
		<div layout="column" class="md-2-line">
			<span class="md-list-item-text profileData">
			<h3 class="color"> Projects <md-button aria-label="prjct" class="md-icon-button addDataButton" ng-click="fn_EditProjects()"><img ng-src="assets/imgs/icons/More_Options.png"/></md-button></h3>
			<div class="projects" ng-style="projectsStyle">
				<div class="projectsViewDiv" ng-repeat="item in usr.projects">
					<span>{{item.project}}</span>
				</div>
			</div>
			<div class="editProjects" ng-style="editProjectsStyle">
				<div layout="row" layout-align="space-between center">
					<md-input-container style="width:300px"><label>Project</label><input ng-model="projectName"/></md-input-container>
					<span><md-button class="md-primary md-raised md-warn" ng-click="fn_clearProject()">Cancel</md-button><md-button class="md-raised" ng-click="fn_AddToProjects()">Add</md-button></span>
				</div>
			</div>
			</span>
		</div>
	</div>
	<footer class="editProfFooter">
		<md-button class="profUpdateButton md-raised" ng-click="fn_UpdateProfile()">Update</md-button>
	</footer>
	</div>
	<div class="modal fade" id="changeProfilepicture" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:850px;height:550px;margin-left:-150px">
                <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                    <h4 class="modal-title" id="myModalLabel">Change Profile Picture</h4>
                </div>
                <div class="modal-body">
                    <form method="POST"  enctype="multipart/form-data" name="myForm">
                        <div class="row"> 
                            <div class="col-sm-6">
                                <div>
                                    <input type="file" id="fileInput"/>
                                    <br>
                                </div>
                                <div class="cropArea">
                                    <img-crop image="myImage" result-image="myCroppedImage">
                                    </img-crop>
                                </div>
                            </div>    
                            <div class="col-sm-4" id="preview" style="display:none"> 
                                <div>Preview</div>
                                <div><img ng-src="{{myCroppedImage}}" /></div>
                            </div>
                        </div>  
                    	<div class="modal-footer" style="border-top: 3px solid #3F51B5;">
                        	<md-button class="md-raised" data-dismiss="modal" ng-click="closeProfile()" aria-label="Close">Close</md-button>
                         	<md-button class="md-primary md-raised" ng-click="uploadProfilepicture(myCroppedImage)" aria-label="SaveChanges">Save changes</md-button>
                        </div>
                    </form> 
                </div>
            </div>
      	</div>
  	</div> 
  	<script type="text/javascript">
 		function openFileOption(){
 		 	document.getElementById("fileInput").click();
		}
	</script>
</section>