<section ng-controller="IndexController as Ictrl" class="index_class">
      <md-sub-header class="md-no-sticky md-warn"> 

      </md-sub-header>
        <div layout="row" style="padding-left:50px;padding-top: 50px">
           <!--  <div class="col-sm-5 col-md-2 profile-img-container" >
                          <a href="#" data-toggle="modal" data-target="#changeProfilepicture" onclick="openFileOption();return;"> 
                            <img src="{{im}}" alt="Profile Picture" class="img-responsive img-circle" width="100" height="100" />
                          <div class="profile-img-i-container">
                    <img src="assets/imgs/Camera.png" alt="camera" class="img-responsive" />
                          </div>
                          </a>
            </div> -->
            <div class="col-sm-5 col-md-6">
                  <h1><b>Welcome To MIT Chat</b></h1>
                          <label style="color:#000000;font-size: 20px;">{{fullName | uppercase}} </label><br>
                          <label style="color:#000000;font-size: 20px;">{{email}}</label><br>
                          <label style="color:#000000;font-size: 20px;">{{mobilenumber}}</label>
            </div>
        </div>
   
    <div class="modal fade" data-keyboard="false"  id="changeProfilepicture" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:850px;height:550px;margin-left:-150px">
                      <div class="modal-header" style="border-bottom: 3px solid #357ebd;">
                            <h4 class="modal-title" id="myModalLabel">Change Profile Picture</h4>
                      </div>
                      <div class="modal-body">
                       <form method="POST"  enctype="multipart/form-data" name="myForm">
                          <div class="row"> 
                              <div class="col-sm-6">
                                  <div>
                                     <input type="file" id="fileInput"/>
                                      <br>
                                  </div>
                                      <div class="cropArea">
                                      <img-crop image="myImage" result-image="myCroppedImage">
                                      </img-crop>
                                      </div>
                              </div>    
                                <div class="col-sm-4" id="preview" style="display:none"> 
                                    <div>Preview</div>
                                    <div><img ng-src="{{myCroppedImage}}" /></div>
                                </div>
                          </div>  
                        <div class="modal-footer" style="border-top: 3px solid #357ebd;">
                        <md-button class="md-raised" data-dismiss="modal" ng-click="closeProfile()" aria-label="Close">Close</md-button>
                         <md-button class="md-primary md-raised" ng-click="uploadProfilepicture(myCroppedImage)" aria-label="SaveChanges">Save changes</md-button>
                          </form> 
                      </div>
            </div>
      </div>
  </div>  
<script type="text/javascript">
 function openFileOption(){
  document.getElementById("fileInput").click();
}
</script>  
</section>
