<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIT Video Chat</title>
    <link rel="shortcut icon" href="assets/imgs/momenta_logo.png">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="page-header">
        <h1 align="center">MIT Video Chat<br><small>Compelete Solution To Stay In Touch</small></h1>
    </div>
    <center>
        <h3>Forgot Password</h3></center>
    <div class="container" style="width: 800px;">
        <div class="jumbotron text-center">
            <form action="/forgot" method="post" class="box login" id="forgot">
                <% if (messages.length > 0) { %>
                    <script type="text/javascript">
                    window.setInterval("refreshDiv()", 3000);
                    function refreshDiv() {
                        document.getElementById("flashMsg").innerHTML = "";
                    }
                    </script>
                    <div class="alert alert-message" id="flashMsg" style="font-size: 20px;font-weight: bold;">
                        <%= messages %>
                    </div>
                    <% } %>
                        <div class="form-group">
                            <div align="center">
                                <input placeholder="E-Mail" name="useremail" type="email" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="center">
                                <button type="submit" class="btn btn-lg btn-primary btn-block" value="Reset Password">Reset Password</button><span class="clearfix"></span>
                            </div>
                        </div>
            </form>
        </div>
    </div>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $('#forgot').submit(function() {
        $(this).css('display', 'none');
        $('<img  height="150">').attr('src', '/assets/imgs/spinner.gif').insertAfter($(this));
    });
    </script>
</body>

</html>
