<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
       MIT Video Chat
    </title>
    <!-- Css Style Sheet -->
    <link rel="shortcut icon" href="assets/imgs/momenta_logo.png">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="lib/ngEmbed/src/ng-embed.css"/>
      <!-- Custom Css -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/ng-img-crop.css" rel="stylesheet">
        <script type="text/javascript">
            window.user = <%- user || 'null' %>;
        </script>
</head>
<body ng-cloak>
   <div class="outer_div" layout="row">
        <div class="sidebar_div" ng-cloak id="commonSideBar">
            <section ui-view="sidebar" class="sidebar_section_class">
                <section ng-controller="SidebarController as sCtrl" layout="row" flex="" class="sidebar_cls" style="height:100%;" ng-cloak>
                    <md-sidenav class="sidebar md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >
                        <md-content class="sidenavContent">
                            <md-menu class="menu_class" md-offset="0 50" aria-label="Menu">
                                <md-button class="md-icon-button" aria-label="settingsMenu" ng-click="$mdOpenMenu($event)" style="position:absolute;right:0px;padding:0px;margin:0px;">
                                    <md-tooltip>Settings</md-tooltip>
                                    <span class="round" ng-if='requestCount > 0'><b>
                                    <img ng-src="assets/imgs/icons/Settings.png"/>
                                    {{requestCount}}</b></span>
                                    <span  ng-if='requestCount == 0'><b>
                                    <img ng-src="assets/imgs/icons/Settings.png"/>
                                    </b></span>
                                </md-button>
                                <md-menu-content width="1" class="settings_Menu">
                                    <md-menu-item><md-button ng-click="setAway()">{{setAwayText}}</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-href="#!/editProfile">Edit Profile</md-button></md-menu-item>
                                    <md-menu-item><md-button data-toggle="modal" data-target="#changepassword">Change Password</md-button></md-menu-item>
                                    <md-menu-item><md-button ng-href="#!/requests">Requests  &nbsp;&nbsp;<span class="roundinMenu" ng-if='requestCount > 0'><b>{{requestCount}}</b></span></md-button>
                                    </md-menu-item>
                                    <md-menu-item><md-button  ng-click="deleteAccount()">Delete Account</md-button></md-menu-item>
                                    <md-menu-divider></md-menu-divider>
                                    <md-menu-item><md-button  ng-click="sigout()">Signout</md-button></md-menu-item>    
                                </md-menu-content>
                            </md-menu>
                            <audio id="myAudio" controls src="assets/audio/ringtone.mp3" style="display:none;" loop>
                            </audio>
                            <div class="sidebar_header" align="center">
                                <div class="sidebarHeaderImage">
                                    <img ng-src="{{profPic}}" ng-click="fn_Home()" class="img-responsive img-circle img-thumbnail">
                                    <span  ng-if='currentStatus == "online" '>
                                    <i class="fa fa-circle" style="color:green;position:absolute;top:50px;left:50px;    border-radius: 50%;border: 2px solid #fff;">
                                    </i>
                                    </span>
                                    <span  ng-if='currentStatus == "offline" '>
                                    <i class="fa fa-circle" style="color:red;position:absolute;top:50px;left:50px;
                                        border-radius: 50%;border: 2px solid #fff;">
                                    </i>
                                    </span>
                                </div>
                                <h3 style="text-transform:capitalize;margin:5px 0px 0px 0px;font-size:20px;">{{sCtrl.user.fullName}}</h3>
                                <span ng-if="sCtrl.user.designation.length" style="font-size:18px"> <span style="text-transform:capitalize">{{sCtrl.user.designation}}</span><span ng-if="sCtrl.user.designation.length&&sCtrl.user.companyName.length"> at </span><span ng-if="sCtrl.user.companyName.length" style="text-transform:capitalize">{{sCtrl.user.companyName}}</span></span>
                                <br>
                            </div>
                            <md-list class="sidebar_list" style="background-color:#357ebd;padding:0px;font-size:18px" resize ng-style="sidenavListStyle()">
                                <md-list-item class="contact_divider">
                                    <div style="width:100%; position:relative;" layout="column">
                                        <hr role="seperator" class="sidebarDividerLine" aria-hidden="true"/>
                                        <div class="sidebarDividerText">
                                            <a href="#!/friends">Contacts</a>
                                        </div>
                                    </div>
                                </md-list-item>
                                <md-list-item ng-if="got_online_contacts" ng-click="fn_GoChat(item)" ng-repeat="item in contacts | orderBy:'-status'" class="contactList" ng-class="{selected: selection.selectedNode == item._id}" ng-cloak>
                                    <md-tooltip ng-if="item.new">New Messages</md-tooltip>
                                    <span ng-if="item.status == 'online'">
                                        <i class="fa fa-circle" style="color:green;font-size:12px;border-radius: 100%;
                                        border: 1px solid #fff;"></i>
                                    </span>
                                    <span ng-if="item.status == 'offline'">
                                      <i class="fa fa-circle-o" style="color:#000;font-size:15px;"></i>
                                    </span>
                                    <p class="online_contacts"> {{item.fullName}}</p>
                                    <md-button ng-if="item.new" class="md-icon-button" aria-label="chatNotification" style="color:red; padding-left: 15px;"><i class="fa fa-comment"><b>{{item.unreadMsgCount}}</b></i>
                                    </md-button>
                                </md-list-item>
                                <md-list-item ng-if="more" ng-click="fn_ViewFriends()">
                                    View More...
                                </md-list-item>
                                <md-list-item ng-hide="got_online_contacts">
                                    No online contacts 
                                </md-list-item>
                                <md-list-item class="cr_divider">
                                    <div style="width:100%; position:relative;" layout="column">
                                        <hr role="seperator" class="sidebarDividerLine" aria-hidden="true"/>
                                        <div class="sidebarDividerText">
                                            <a href="#!/circles">Conference Rooms</a>
                                        </div>
                                        <md-menu class="menu_class" md-offset="0 50" aria-label="Menu">
                                            <md-button class="md-icon-button" aria-label="crMenu" ng-click="$mdOpenMenu($event)" style="position:absolute;top:5px;right:0px;max-width:20px;padding:0px;margin:0px;"><img ng-src="assets/imgs/icons/Dropdown_Arrow.png"/></md-button>
                                            <md-menu-content width="1" class="settings_Menu">
                                                <md-menu-item><md-button ng-href="#!/conference/list-conference">Schedule Conference</md-button></md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                </md-list-item>
                                <md-list-item ng-if="got_circles" ng-repeat="item in conferenceRooms" ng-click="fn_GrpChat(item)" class="circleList" ng-class="{selected: selection.selectedNode == item._id}" ng-cloak>
                                    <i class="fa fa-circle-o" style="color:#fff;font-size:12px;"></i>
                                    <p class="conference_rooms" > {{item.circleName}}</p>
                                    <md-button ng-if="item.new" class="md-icon-button" aria-label="chatNotification" style="color:red;padding-left: 5px;"><i class="fa fa-comment"><b>{{item.unreadMsgCount}}</b></i>
                                    </md-button>
                                </md-list-item>
                                <md-list-item ng-hide="got_circles">
                                    No Rooms 
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-sidenav>
                    <button ng-click="toggleLeft()"
                    class="sideBarToggleButton" hide-gt-md>
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content"  style="width:500px;margin-left:100px">
                                <div class="modal-header" style="border-bottom: 3px solid #3F51B5;">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hipdfen="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <md-input-container>
                                                <label>Password</label>
                                                <input ng-model="password" type="password">
                                            </md-input-container>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <md-input-container>
                                                <label>Confirm Password</label>
                                                <input ng-model="confirm" type="password">
                                            </md-input-container>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer md-raised" style="border-top: 3px solid #3F51B5;">
                                    <md-button class="md-raised" data-dismiss="modal" aria-label="Close">Close</md-button>
                                    <md-button class="md-primary md-raised" ng-click="changePassword()" aria-label="SaveChanges">Change Password</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </section>
            </section>
        </div>
        <div class="content_div">
            <section ui-view="header"  class="header_class"></section>
            <section ui-view="content" class="content_class"></section>
        </div>
    </div>
    <!-- User Authentication -->
    <script type="text/javascript">
     // window.user = <%- user || 'null' %>;
    </script>
    <!-- Socket module -->
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <!-- Required Bower Modules -->
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>`
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="lib/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="lib/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="lib/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="lib/ngEmbed/src/ng-embed.js"></script>
    <script type="text/javascript" src="lib/webrtc-adapter/adapter.js"></script>
    <script type="text/javascript" src="lib/kurento-utils/js/kurento-utils.js"></script>

    <script type="text/javascript" src="assets/js/RecordRTC.js"></script>
    <script type="text/javascript" src="assets/js/scroll/mb-scrollbar.js"></script>
    <script type="text/javascript" src="assets/js/ng-img-crop.js"></script>
    <script type="text/javascript" src="assets/js/ng-pdfviewer.min.js"></script>
    <script type="text/javascript" src="assets/js/pdf.js"></script>
    <script type="text/javascript" src="assets/js/pdf.worker.js"></script>
    <!-- Users -->
    <script type="text/javascript" src="apps/user/user.client.module.js"></script>
    <script type="text/javascript" src="apps/user/services/user.client.service.js"></script>
    <!-- Header -->
    <script type="text/javascript" src="apps/header/header.client.module.js"></script>
    <script type="text/javascript" src="apps/header/controllers/header.client.controller.js"></script>
    <!-- circles -->
    <script type="text/javascript" src="apps/circles/circles.client.module.js"></script>
    <script type="text/javascript" src="apps/circles/controllers/circles.client.controller.js"></script>
    <script type="text/javascript" src="apps/circles/controllers/create-circle.client.controller.js"></script>
    <script type="text/javascript" src="apps/circles/controllers/view-circle.client.controller.js"></script>
    <script type="text/javascript" src="apps/circles/controllers/chat-circle.client.controller.js"></script>
    <script type="text/javascript" src="apps/circles/services/circles.client.service.js"></script>
    <!-- SideBar -->
    <script type="text/javascript" src="apps/sidebar/sidebar.client.module.js"></script>
    <script type="text/javascript" src="apps/sidebar/controllers/sidebar.client.controller.js"></script>
    <!-- viewProf -->
    <script type="text/javascript" src="apps/viewProfile/viewProf.client.module.js"></script>
    <script type="text/javascript" src="apps/viewProfile/controllers/viewProf.client.controller.js"></script>
    <!-- Requests -->
    <script type="text/javascript" src="apps/requests/request.client.module.js"></script>
    <script type="text/javascript" src="apps/requests/controllers/request.client.controller.js"></script>
    <!-- Friends -->
    <script type="text/javascript" src="apps/friends/friend.client.module.js"></script>
    <script type="text/javascript" src="apps/friends/controllers/friend.client.controller.js"></script>
    <!-- file share -->
    <script type="text/javascript" src="apps/fileshare/fileshare.client.module.js"></script>
    <script type="text/javascript" src="apps/fileshare/controllers/fileshare.client.controller.js"></script>
      <!-- Advanced Search-->
    <script type="text/javascript" src="apps/search/search.client.module.js"></script>
    <script type="text/javascript" src="apps/search/controllers/search.client.controller.js"></script>
   <!-- conference -->
    <script type="text/javascript" src="apps/conference/conference.client.module.js"></script>
    <script type="text/javascript" src="apps/conference/controllers/conference.client.controller.js"></script>
    <script type="text/javascript" src="apps/conference/controllers/conferenceList.client.controller.js"></script>
    <!-- Index Page -->
    <script type="text/javascript" src="apps/index/index.client.module.js"></script>
    <script type="text/javascript" src="apps/index/controllers/index.client.controller.js"></script>
    <script type="text/javascript" src="apps/index/config/index.client.routes.js"></script>
    <script type="text/javascript" src="apps/index/services/index.client.service.js"></script>
    <script type="text/javascript" src="apps/index/controllers/editProfile.client.controller.js"></script>
    <!-- Chat -->
    <script type="text/javascript" src="apps/chat/chat.client.module.js"></script>
    <script type="text/javascript" src="apps/chat/controllers/chat.client.controller.js"></script>
    <script type="text/javascript" src="apps/chat/directives/chat.client.directive.js"></script>
    <!-- Main Application Module -->
    <script type="text/javascript" src="apps/application.js"></script>
</body>
</html>
