<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MIT Video Chat</title>
    <link rel="shortcut icon" href="assets/imgs/momenta_logo.png">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body  {overflow-x: hidden;overflow-y: hidden;}
    </style>
</head>

<body>
    <div class="page-header">
        <h1 align="center">MIT Video Chat<br><small>Compelete Solution To Stay In Touch</small></h1>
    </div>
    <center><h3>Create New Account</h3></center>
    <div class="container" style="width: 800px;">
        <div class="jumbotron text-center">
            <form action="/signup" method="post" class="box login">
                    <script type="text/javascript">
                    window.setInterval("refreshDiv()", 4000);
                    function refreshDiv() {
                        document.getElementById("flashMsg").innerHTML = "";
                    }
                    </script>
                    <div class="alert alert-message" id="flashMsg" style="font-size: 20px;font-weight: bold;">
                        <%= messages %>
                    </div>
                         <div class="form-group">
                            <div align="center">
                                <input type="text" placeholder="User Name" name="username" id="username" required="required" autofocus="autofocus" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="center">
                                <input type="text" placeholder="First Name" name="firstName" required="required" autofocus="autofocus" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="center">
                                <input type="text" placeholder="Last Name" name="lastName" required="required" autofocus="autofocus" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="center">
                                <input type="email" placeholder="Email-ID" name="email"  id="emailID" required="required" autofocus="autofocus" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="center">
                                <input type="password" placeholder="Password" name="password" id="password"  required="required" autofocus="autofocus" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="center">
                                <button type="submit" class="btn btn-lg btn-primary btn-block" value="signup">Sign Up</button><span class="clearfix"></span>
                            </div>
                        </div>
            </form>
            <div class="form-group">
                <div align="center">
                    <a href="/signin" class="text-center btn btn-lg btn-primary btn-block">Cancle</a>
                </div>
            </div>
        </div>
    </div>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $('#username').on('keyup',function(e){
        $.ajax({ 
           url: '/checkusername',
           type: 'POST',
           cache: false, 
           data: {name:$("#username").val().toLowerCase()}, 
           success: function(data){
            if(data == 0){
             $('#username').css({ "border-color": 'green',"box-shadow": "inset 1px 1px 1px green,1px 1px 1px green"});
            }else if(data == 1){
                $('#username').css({ "border-color": 'red',"box-shadow": "inset 1px 1px 1px red,1px 1px 1px red"});
            }
           }
        })
    })
    $("#username").focusout(function(){
        $.ajax({ 
           url: '/checkusername',
           type: 'POST',
           cache: false, 
           data: {name:$("#username").val().toLowerCase()}, 
           success: function(data){
            if(data == 1){
                $("#username").val('');
                document.getElementById("flashMsg").innerHTML = "User Name Not Available";
                $('#username').css({ "border-color": '#66afe9',"box-shadow": "inset 0 1px 1px #66afe9,0 0 8px #66afe9"});
                $("#username").focus()
            }
           }
        })
    })
    $("#emailID").focusout(function(){
        $.ajax({ 
           url: '/checkemailid',
           type: 'POST',
           cache: false, 
           data: {name:$("#emailID").val()}, 
           success: function(data){
            if(data == 1){
                $("#emailID").val('');
                document.getElementById("flashMsg").innerHTML = "Email-ID  Not Available";
                $("#emailID").focus();
            }
           }
        })
    })
    $("#password").focusout(function(){
        if($("#password").val().length <= 6){   
            $("#password").val('');
            if($("#emailID").val().length != 0 ){
                document.getElementById("flashMsg").innerHTML = "Password is Too Small";
            }    
        }
    });
</script>
</body>
</html>
